<div class="dialog-width">
  <p class="global_module_title">Edit ICCG Host</p>

  <div class="row">
    <div class="col-12 mb-3">
      <app-input-field #alias [required]="true" maxlength="" errorMessage="Mock error message"
        [(inputModel)]="form.alias" [value]="form.alias" placeholder="ICCG Host*">
      </app-input-field>
    </div>
    <div class="col-12 mb-3">
      <app-text-area #certi [(inputModel)]="form.name" [value]="form.name" [required]="true"
        errorMessage="Mock error message" placeholder="Certificate*">
      </app-text-area>
    </div>
    <div class="col-12 mb-3">
      <app-datepicker #date [value]="form.date" [(dateModel)]="form.date" [required]="true"
        errorMessage="Mock error message" placeHolder="Active Date*">
      </app-datepicker>
    </div>
  </div>
  <div class="d-flex">
    <div class="ml-auto">
      <button (click)="onClose()" class="btn btn-clear">Cancel</button>
      <button (click)="onSubmit()" class="btn btn-save ml-2">Save</button>
    </div>
  </div>
</div>