<app-loading [showLoading]="isLoading"></app-loading>

<div class="w-100 m-0 p-0">
    <div class="card form-area">
        <div class="mb-4 font-weight-bold">Change Password</div>
        
        <form [formGroup]="form" *ngIf="form" (submit)="onSubmit()">
            <!-- <mat-form-field appearance="fill" class="w-100">
                <mat-label [ngClass]="{ 'error-color': isLoginFailed }">Username</mat-label>
                <input matInput formControlName="username" placeholder="admin">
            </mat-form-field> -->

            <mat-form-field appearance="standard" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" type="text" class="username" focus="blur()" readonly>
            </mat-form-field>
            <!-- <app-common-label label="Username" [value]="form.get('username').value"></app-common-label> -->
            
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Current Password</mat-label>
                <input matInput type="password" formControlName="password" [type]="isShowPwd ? 'text' : 'password'">
                
                <mat-icon matSuffix (click)="isShowPwd = !isShowPwd">{{ isShowPwd ? 'visibility' : 'visibility_off' }}</mat-icon>

                <!-- <mat-hint [ngClass]="{ 'error-color': (form.get('password').value!=null && !form.get('password').valid) }">{{ inputHintMsg }}</mat-hint> -->
                <mat-hint>{{ inputHintMsg }}</mat-hint>
                <mat-error>{{ inputHintMsg }}</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="fill" class="w-100 mt-4">
                <mat-label>New Password</mat-label>
                <input matInput type="password" formControlName="newPassword" [type]="isShowNewPwd ? 'text' : 'password'">
                
                <mat-icon matSuffix (click)="isShowNewPwd = !isShowNewPwd">{{ isShowNewPwd ? 'visibility' : 'visibility_off' }}</mat-icon>

                <!-- <mat-hint [ngClass]="{ 'error-color': (form.get('newPassword').value!=null && !form.get('newPassword').valid) }">{{ inputHintMsg }}</mat-hint> -->
                <mat-hint>{{ inputHintMsg }}</mat-hint>
                <mat-error>{{ inputHintMsg }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 mt-4">
                <mat-label [ngClass]="{ 'error-color': inputPwdCurrentMsg!=inputHintMsg }">Confirm New Password</mat-label>
                <input matInput type="password" formControlName="newPasswordConfirm" [type]="isShowNewPwdComfirm ? 'text' : 'password'">
                
                <mat-icon matSuffix (click)="isShowNewPwdComfirm = !isShowNewPwdComfirm">{{ isShowNewPwdComfirm ? 'visibility' : 'visibility_off' }}</mat-icon>

                <!-- <mat-hint [ngClass]="{ 'error-color': (form.get('newPasswordConfirm').value!=null && !form.get('newPasswordConfirm').valid) }">{{ inputPwdCurrentMsg }}</mat-hint> -->
                <mat-hint [ngClass]="{ 'error-color': inputPwdCurrentMsg!=inputHintMsg }">{{ inputPwdCurrentMsg }}</mat-hint>
                <mat-error>{{ inputPwdCurrentMsg }}</mat-error>
            </mat-form-field>

            <div class="row mt-5">
                <button type="button" mat-stroked-button class="system-btn-secondary col-4" (click)="onCancel()">Cancel</button>
                <div class="col-1"></div>
                <button type="submit" mat-flat-button class="system-btn-primary-gray col-7">Submit</button>
            </div>
        </form>
    </div>
</div>