// ::ng-deep app-navbar {
//     display: none;
//     height: 0px !important;
//     position: absolute;
// }

// ::ng-deep .container-main {
//     padding: 0px !important;
//     margin: 0px !important;
//     background-color: #ffffff !important;
// }

// ::ng-deep .main-menu {
//     display: none;
// }

.form-area {
    position: absolute;
    width: 550px;
    // height: 500px;
    left: -webkit-calc(50% - 275px);
    top: -webkit-calc(50% - 250px);
    text-align: center;

    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;

    border-color: #ffffff;

    -webkit-box-shadow: 4px 4px 4px 0px rgba(138,138,138,0.2);
    -moz-box-shadow: 4px 4px 4px 0px rgba(138,138,138,0.2);
    box-shadow: 4px 4px 4px 0px rgba(138,138,138,0.2);
}

::ng-deep .input-pwd .mat-form-field-flex {
    height: 51px !important;
}
::ng-deep .input-pwd .mat-input-element {
    margin-bottom: 8px;
}
::ng-deep .input-pwd .mat-icon {
    color: #737373;
}

// .mat-hint {
//     color: #e11b22;
// }
.error-color {
    color: #e11b22;
}

.username {
    color: #737373;
}
// ::ng-deep .mat-form-field-underline {
//     border-style: dashed;
//     border-width: 1px;
// }
