<div class="dialog-container dialog-300">
  <div mat-dialog-title class="title-dialog">
    <div class="row m-0">
    <div class="col-10 d-flex align-items-center"> {{title}}!</div>
      <div class="col-2 d-flex justify-content-end align-items-center"> 
        <button mat-button mat-dialog-close class="padding-close-icon" (click)="onClose()">
          <mat-icon class="color-white">close</mat-icon>
        </button></div>
    </div>

  </div>
  <div mat-dialog-content >
    <p class="content-dialog mt-4 text-align-center" [innerHTML]="content" cdkFocusInitial></p>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-center">

    <button mat-stroked-button (click)="onClose()" class="btn-default-size mt-2 mr-3 btn-edit"
    *ngIf="!isOneButton">{{cancelBtnText}}</button>
    <button mat-raised-button mat-dialog-close (click)="onConfirm()"
  class="btn-ok btn-default-size mt-2">{{okBtnText}}</button>
  </div>
</div>