:host ::ng-deep .text-field .mat-form-field-wrapper .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0.75em 0.75em 0 0.75em;
    background-color: rgba(0, 0, 0, 0.04);
    height: 59px;
}

:host ::ng-deep .mat-form-field-should-float .mat-form-field-label-wrapper .mat-form-field-label {
    padding-top: 10px;
}

:host ::ng-deep .mat-form-field-should-float .mat-form-field-wrapper .mat-form-field-infix {
    padding-top: 12px;
}

:host ::ng-deep .mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-underline {
    height: 2px;
    background-color: red;
}
