<mat-form-field class="w-100 text-field" [formGroup]="form">
  <input matInput [type]="type" [placeholder]="label" [value]="value" [(ngModel)]="inputModel"
    (ngModelChange)="inputModelChange.emit(inputModel)" [maxlength]="maxlength" formControlName="inputField"
    (keydown)="onValueChangeValidate($event)" (keyup)="somethingChanged($event)">
  <mat-error *ngIf="form.get('inputField').hasError('required')">{{errorMessage}}</mat-error>
  <mat-error *ngIf="form.get('inputField').hasError('pattern')">{{errorPattern}}</mat-error>
</mat-form-field>