<mat-form-field class="multi-selected" [appearance]="appearance" [ngClass]="{'field-disabled': disabled}">
  <mat-chip-list #chipList aria-label="">
    <mat-chip
      *ngFor="let option of optionsSelected"
      [selectable]="selectable" [removable]="removable"
      [disabled]="!isDataLoaded || disabled"
      (removed)="removeOption(option)">

      <span title="{{ getOptionByValue(option).label }}" *ngIf="isDataLoaded">{{ getOptionByValue(option).label_short }}</span>
      <mat-spinner class="spinner-color-gray" strokeWidth="3" [diameter]="19" *ngIf="!isDataLoaded"></mat-spinner>
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>

    <input
      placeholder="{{ fieldName }}"
      #InputElement
      [formControl]="InputForm"
      autocomplete="new-password"
      [disabled]="!isDataLoaded || disabled "
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [attr.disabled]="disabled?'true':null" 
      (matChipInputTokenEnd)="addOptionByInput($event)">
    
    <mat-spinner class="mr-2" strokeWidth="3" [diameter]="19" *ngIf="!isDataLoaded"></mat-spinner>
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addOptionBySelect($event)" >
    <mat-option *ngFor="let option of optionsFiltered | async" [value]="option" [disabled]="disabled">{{ option.label }}</mat-option>
  </mat-autocomplete>

  <mat-error *ngIf="InputForm.invalid">{{ errorMessage }}</mat-error>
</mat-form-field>