.multi-selected {
  width: 100%;
}

.mat-standard-chip {
  margin: 3px;
  font-size: 12px;
}

::ng-deep .mat-option {
  line-height: 38px;
  height: 38px;
}
::ng-deep .mat-option-text {
  font-size: 14px !important;
  line-height: 38px;
  height: 38px;
}

::ng-deep mat-spinner.spinner-color-gray circle {
  stroke: #333333;
}