<mat-form-field [appearance]="!disabled ? 'fill' : 'standard'" [formGroup]="form">
  <mat-label *ngIf="placeholder!=''">{{placeholder}}</mat-label>
  <mat-select formControlName="inputField" (selectionChange)="onSelect()" [disabled]="disabled" [required]="orderRequire">
    <mat-option *ngIf="!hideDefaultOption">Choose</mat-option>
    <mat-option [title]="item.label" *ngFor="let item of dataList" [value]="item.value">
      {{item.label}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="form.get('inputField').hasError('required')">{{errorMessage}}</mat-error>
  <!-- <mat-icon matSuffix class="expand_icon">expand_more</mat-icon> -->
</mat-form-field>