<mat-form-field class="deal_date"
  [ngClass]="{'custom-form-touched': required && custom_touched, 'custom-required': form.get('dateFieldValue').hasError('required')}"
  [formGroup]="form">
  <input type="hidden" formControlName="dateFieldValue">

  <!-- <input matInput [matDatepicker]="picker" [placeholder]="placeHolder" (dateChange)="onDateChange($event)"
    [min]="minDate" [max]="maxDate" [(ngModel)]="dateModel" (ngModelChange)="dateModelChange.emit(dateModel)"
    [value]="value" formControlName="dateField" [required]="required" (click)="picker.open(); custom_touched = true" [disabled]="disabled" readonly> -->
  <input matInput [matDatepicker]="picker" [placeholder]="placeHolder" [placeholder]="placeholder"
    (dateChange)="onDateChange($event)" [min]="minDate" [max]="maxDate" [(ngModel)]="dateModel"
    (ngModelChange)="dateModelChange.emit(dateModel)" [value]="value" formControlName="dateField"
    (click)="picker.open(); custom_touched = true" [disabled]="disabled" readonly>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <!-- <mat-error *ngIf="form.get('dateFieldValue').hasError('required')">{{errorMessage}}</mat-error> -->
</mat-form-field>
<div class="error-message" *ngIf="form.get('dateFieldValue').hasError('required')">{{errorMessage}}</div>

<!-- <mat-form-field>
  <input matInput placeholder="Due Date" name="dueDate" [(ngModel)]="value" required #inputValue="ngModel">
  <mat-error *ngIf="(inputValue.touched && inputValue.invalid)">Due Date is required for Tasks</mat-error>
</mat-form-field> -->