<div class='row'>
  <div class="col-4 d-flex align-self-center" *ngIf="!hideHeader">Country</div>
  <!-- <div class="col-8 pr-3 mt-4"> -->
  <div id="country-area" class="pr-3 mt-4" [ngClass]="{'col-8': !hideHeader, 'col-12': hideHeader}">
    <app-dropdown default="Country" id="country" [value]="inputCountry" [(inputModel)]="inputCountry"
      url="/master/v1/Master/country" (onValue)="onValueDropCountry($event)" #Country></app-dropdown>
  </div>
  <div class="col-4 d-flex align-self-center" *ngIf="!hideHeader">Province</div>
  <div id="province-area" class="pr-3 mt-4" [ngClass]="{'col-8': !hideHeader, 'col-12': hideHeader}">
    <app-dropdown default="Province" id="province" [value]="inputProvince" [(inputModel)]="inputProvince"
      [url]="urlProvince" (onValue)="onValueDropProvince($event)" #Province></app-dropdown>
  </div>
  <div class="col-4 d-flex align-self-center" *ngIf="!hideHeader">District</div>
  <div id="district-area" class="pr-3 mt-4" [ngClass]="{'col-8': !hideHeader, 'col-12': hideHeader}">
    <app-dropdown default="District" id="district" [value]="inputDistrict" [(inputModel)]="inputDistrict"
      [url]="urlDistrict" (onValue)="onValueDropDistrict($event)" #District></app-dropdown>
  </div>
  <div class="col-4 d-flex align-self-center" *ngIf="!hideHeader">Sub District</div>
  <div id="subDistrict-area" class="pr-3 mt-4" [ngClass]="{'col-8': !hideHeader, 'col-12': hideHeader}">
    <app-dropdown default="Sub District" id="subDistrict" [value]="inputSubDistrict" [(inputModel)]="inputSubDistrict"
      [url]="urlSubDistrict" (onValue)="onValueDropSubDistrict($event)" #SubDistrict></app-dropdown>
  </div>
  <div class="col-4 mt-4 d-flex align-self-center" *ngIf="!hideHeader">Zip Code</div>
  <div id="zipCode-area" class="mt-4 row" [ngClass]="{'col-8': !hideHeader, 'col-12': hideHeader}">
    <!-- <app-input-field class="w-50 pr-3 pl-3" placeholder="Zip Code" [value]="inputZipCode" [(inputModel)]="zipCode">
    </app-input-field> -->
    <mat-form-field class="w-100 pr-3 pl-3" [formGroup]="form">
      <input matInput maxlength="5" class="w-50 " type="text" placeholder="Zip Code" [value]="inputZipCode" [(ngModel)]="zipCode"
        [pattern]="regNumber" (ngModelChange)="zipCodeChange.emit(zipCode)" formControlName="zipCode">
      <mat-error *ngIf="form.get('zipCode').hasError('pattern')">This field is invalid format.</mat-error>
    </mat-form-field>
    <!-- <app-input-field placeholder="Zip Code" type="number" [value]="inputZipCode" [(inputModel)]="zipCode"
        (ngModelChange)="zipCodeChange.emit(zipCode)"></app-input-field> -->
  </div>
</div>