.div-loading{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.85);

  // background-color: red;
  opacity:0.9;
   position: absolute;
    z-index: 1;
}

.icon-loading{
  opacity: 1 !important;
  z-index: 2;
   position: absolute;
  top:50%;
  right:calc(50% - 20px);

}

.root-loading{
  display:block;
   position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// .root-loading-disable{
// display:none;
// }

.icon-size{
  width:25px !important;
  height: 25px !important;
}
