<div class="root-loading" *ngIf="showLoading">
  <!-- <CircularProgress className={icon} /> -->
  <div class="icon-loading">
      <mat-spinner diameter="50"></mat-spinner>
  </div>

  <div class="div-loading">

  </div>
</div>
