<mat-card class="p-0 pb-4 deal-price-custom-main" [formGroup]="form">
  <app-loading [showLoading]="isLoading"></app-loading>

  <mat-card-title class="title-card row align-items-center">
    <div class="ml-3">{{ title }}</div>
    <div class="ml-auto">
      <button mat-button (click)="onCancel()">
        <mat-icon class="size-small hover">close</mat-icon>
      </button>
    </div>
  </mat-card-title>

  <mat-card-content class="form-data row pl-4 pr-4 ml-4 mr-4">

    <ng-container *ngIf="address.customerId == 0">
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Tax ID*" formControlName="taxId" [maxlength]="13">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6"></div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <textarea matInput placeholder="Company Name (TH)*" formControlName="customerNameEn" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [maxlength]="100"></textarea>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <textarea matInput placeholder="Company Name (EN)*" formControlName="customerNameTh" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [maxlength]="100"></textarea>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
    </ng-container>

    <ng-container>
      <div class="col-12 mt-3 address-header">Billing Address</div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <textarea matInput placeholder="Address (TH)" formControlName="billAddrTh" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [maxlength]="500"></textarea>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <textarea matInput placeholder="Address (EN)" formControlName="billAddrEn" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [maxlength]="500"></textarea>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Country (TH)" formControlName="billCountryNameTh" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Country (EN)" formControlName="billCountryNameEn" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Province (TH)" formControlName="billProvinceNameTh" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Province (EN)" formControlName="billProvinceNameEn" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="District (TH)" formControlName="billDistrictNameTh" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="District (EN)" formControlName="billDistrictNameEn" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Sub District (TH)" formControlName="billSubDistrictNameTh" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Sub District (EN)" formControlName="billSubDistrictNameEn" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Zip Code" formControlName="billZipcode" [maxlength]="10">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6"></div>
    </ng-container>

    <ng-container>
      <div class="col-12 mt-4 address-header">Tax Address</div>

      <div class="col-12 pt-3 row">
        <div class="col-5 p-0">
          <label>Branch</label><br />
          <mat-radio-group formControlName="isHeadOffice" aria-label="">
            <mat-radio-button value="1">Head Office</mat-radio-button>
            <mat-radio-button value="0">Branch</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-7 p-0 mt-2">
          <mat-form-field class="input-address" *ngIf="form.get('isHeadOffice').value=='0'">
            <!-- <input matInput type="number" placeholder="Branch No.*" formControlName="branchNo"> -->
            <input matInput type="text" placeholder="Branch No.*" formControlName="branchNo" [maxlength]="5">
            <!-- <mat-error>This field is required.</mat-error> -->
            <mat-error *ngIf="form.get('branchNo').errors?.required">This field is required.</mat-error>
            <mat-error *ngIf="!form.get('branchNo').errors?.required && form.get('branchNo').errors?.invalided">This field is invalid format.</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <textarea matInput placeholder="Address (TH)" formControlName="taxAddrTh" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [maxlength]="500"></textarea>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <textarea matInput placeholder="Address (EN)" formControlName="taxAddrEn" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [maxlength]="500"></textarea>
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Country (TH)" formControlName="taxCountryNameTh" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Country (EN)" formControlName="taxCountryNameEn" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Province (TH)" formControlName="taxProvinceNameTh" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Province (EN)" formControlName="taxProvinceNameEn" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="District (TH)" formControlName="taxDistrictNameTh" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="District (EN)" formControlName="taxDistrictNameEn" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Sub District (TH)" formControlName="taxSubDistrictNameTh" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Sub District (EN)" formControlName="taxSubDistrictNameEn" [maxlength]="50">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Zip Code" formControlName="taxZipcode" [maxlength]="10">
          <mat-error>This field is required.</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6"></div>
    </ng-container>

  </mat-card-content>

  <mat-card-content class="form-data row pl-4 pr-4" *ngIf="enableUploadFile">
    <div class="col-12 data-info">
      Files
      <!-- <span class="files_upload_remark" *ngIf="isRequiredFileUpload && fileToUpload == null">(Please Upload File)</span> -->
      <span class="files_upload_remark" *ngIf="address.customerId > 0">(Please Upload File)</span>
    </div>
    <div class="col-12 data-info mt-3">
      <!-- <a href="#" class="files_upload_link">+ Upload File</a> -->
      <!--
      <input #fileInput type="file" (change)="handleFileUpload($event.target.files)" style="display:none">
      <span class="files_upload_link" (click)="fileInput.click()">+ Upload File</span>
      <span *ngIf="fileToUpload != null" class="pl-2">{{ fileToUpload.name }}</span>
      -->
      <div>
        <app-upload-file [isMulti]="true" [canUpload]="canUpload" [canDownLoad]="canDownload" [canDeleteOld]="true"
        [filesList]="address.files" [uploadUrl]="uploadUrl" appenedName="AddressFile"
        (showLoading)="onShowLoading($event)" [maxSize]="maxSize"></app-upload-file>
      </div>
    </div>
  </mat-card-content>

  <div class="col-12 justify-content-center d-flex mt-4">
    <button mat-raised-button class="btn-cancel" (click)="onCancel()">Cancel</button>
    <button mat-raised-button class="btn-save ml-3" (click)="onSave()">Save</button>
  </div>

</mat-card>



<!-- <mat-card class="p-0 pb-4 deal-price-custom-main" [formGroup]="form">

  <mat-card-title class="title-card row align-items-center">
    <div class="ml-3">{{ title }}</div>
    <div class="ml-auto">
      <button mat-button (click)="onCancel()">
        <mat-icon class="size-small hover">close</mat-icon>
      </button>
    </div>
  </mat-card-title>

  <mat-card-content class="form-data row pl-4 pr-4 ml-4 mr-4">

    <div class="col-6">
      <mat-form-field class="input-address">
        <input matInput placeholder="Tax ID" formControlName="tax_id">
      </mat-form-field>
    </div>
    <div class="col-6"></div>
    <div class="col-6">
      <mat-form-field class="input-address">
        <textarea matInput placeholder="Company Name (TH)" formControlName="company_th" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"></textarea>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="input-address">
        <textarea matInput placeholder="Company Name (EN)" formControlName="company_en" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"></textarea>
      </mat-form-field>
    </div>

    <ng-container formGroupName="billing">
      <div class="col-12 mt-3 address-header">Billing Address</div>

      <div class="col-12 pt-3 row">
        <div class="col-5 p-0">
          <label>Branch</label><br />
          <mat-radio-group formControlName="type" aria-label="">
            <mat-radio-button value="head">Head Office</mat-radio-button>
            <mat-radio-button value="branch">Branch</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-7 p-0 mt-2">
          <mat-form-field class="input-address" *ngIf="form.get('billing').get('type').value=='branch'">
            <input matInput placeholder="Branch Name" formControlName="branch_name">
          </mat-form-field>
        </div>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <textarea matInput placeholder="Address (TH)" formControlName="address_th" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"></textarea>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <textarea matInput placeholder="Address (EN)" formControlName="address_en" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"></textarea>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Country (TH)" formControlName="country_th">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Country (EN)" formControlName="country_th">
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Province (TH)" formControlName="province_th">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Province (EN)" formControlName="province_th">
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="District (TH)" formControlName="district_th">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="District (EN)" formControlName="district_th">
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Sub District (TH)" formControlName="subdistrict_th">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Sub District (EN)" formControlName="subdistrict_th">
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Zip Code" formControlName="zipcode">
        </mat-form-field>
      </div>
      <div class="col-6"></div>
    </ng-container>

    <ng-container formGroupName="tax">
      <div class="col-12 mt-4 address-header">Tax Address</div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <textarea matInput placeholder="Address (TH)" formControlName="address_th" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"></textarea>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <textarea matInput placeholder="Address (EN)" formControlName="address_en" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"></textarea>
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Country (TH)" formControlName="country_th">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Country (EN)" formControlName="country_th">
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Province (TH)" formControlName="province_th">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Province (EN)" formControlName="province_th">
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="District (TH)" formControlName="district_th">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="District (EN)" formControlName="district_th">
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Sub District (TH)" formControlName="subdistrict_th">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Sub District (EN)" formControlName="subdistrict_th">
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="input-address">
          <input matInput placeholder="Zip Code" formControlName="zipcode">
        </mat-form-field>
      </div>
      <div class="col-6"></div>
    </ng-container>

  </mat-card-content>

  <div class="col-12 justify-content-center d-flex mt-4">
    <button mat-raised-button class="btn-cancel" (click)="onCancel()">Cancel</button>
    <button mat-raised-button class="btn-save ml-3" (click)="onSave()">Save</button>
  </div>

</mat-card> -->
