<mat-form-field class="w-100" [formGroup]="form">
  <input matInput formControlName="inputField" [ngxTimepicker]="picker" [placeholder]="label" [format]="format"
    [value]="value" [(ngModel)]="inputModel" (ngModelChange)="inputModelChange.emit(inputModel)"
    [disabled]="disabled" [min]="minTime" [max]="maxTime" readonly>
  <ngx-material-timepicker-toggle matSuffix [for]="picker" [disabled]="disabled">
    <mat-icon ngxMaterialTimepickerToggleIcon>
      schedule</mat-icon>
  </ngx-material-timepicker-toggle>
  <ngx-material-timepicker #picker></ngx-material-timepicker>
  <mat-error *ngIf="form.get('inputField').hasError('required')">{{errorMessage}}</mat-error>
</mat-form-field>