<mat-form-field class="w-100 text-area" hideRequiredMarker [formGroup]="form" floatLabel="never">
  <textarea matInput formControlName="inputField" [placeholder]="label" cdkTextareaAutosize [(ngModel)]="inputModel"
  [maxlength]="maxlength" (ngModelChange)="inputModelChange.emit(inputModel)" 
  (keydown)="onValueChangeValidate($event)" (keyup)="somethingChanged($event)">{{value}}</textarea>

<mat-error *ngIf="form.get('inputField').hasError('required')">{{errorMessage}}</mat-error>
<mat-error *ngIf="form.get('inputField').hasError('pattern')">{{errorPattern}}</mat-error>
</mat-form-field>
