.text-area .mat-form-field-infix {
    padding-bottom: 0em !important;
    padding-top: 1em !important;
}

.text-area .mat-form-field-wrapper {
    padding-bottom: 1.359em !important;
}

.text-area .mat-form-field-label-wrapper {
    top: -0.1em;
    padding-top: 1em;
}

.text-area ::ng-deep.mat-form-field-subscript-wrapper {
    top: 2.5em;
}

.text-area {
    margin-top: -0.5em;
}

.text-area ::ng-deep  .mat-form-field-flex{
    background-color: rgba(0, 0, 0, 0.04) !important; 
    padding: 0.4375em .75em 0 .75em;
}

.text-area ::ng-deep .mat-form-field-wrapper .mat-form-field-underline .mat-form-field-ripple { 
    height: 2px;
}


.text-area ::ng-deep .mat-form-field-subscript-wrapper{ 
    padding: 1em;
}