<form [formGroup]="form" class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" [placeholder]="placeholder" aria-label="Number" matInput formControlName="inputField" [matAutocomplete]="auto" (blur)="onBlur()" >
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="onSelect()" [disabled]="disabled_option">
        {{ option.label }}
      </mat-option>
    </mat-autocomplete>

    <button mat-button *ngIf="this.form.get('inputField').value" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()"
    [disabled]="disabled">
    <mat-icon>close</mat-icon>
  </button>
  <mat-error *ngIf="form.invalid">
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>

  <!-- <input type="button" (click)="onClear()" value="Clear"> -->
  <!-- <input type="button" (click)="onValueChange(false)" value="Submit"> -->
</form>
