.bc-color {
    color: #e11b22;
}

.custom-padding-dropdown {
    padding-top: 1.3rem !important;
}

:host
    .custom-error
    ::ng-deep
    .mat-form-field-wrapper
    .mat-form-field-infix
    .mat-form-field-label-wrapper
    .mat-form-field-label {
    color: red;
}

:host
    .custom-error
    ::ng-deep
    .mat-form-field-wrapper
    .mat-form-field-infix
    .mat-form-field-label-wrapper
    .mat-form-field-label,
:host .custom-error ::ng-deep .mat-form-field-wrapper .mat-form-field-subscript-wrapper {
    color: red;
}
