<app-loading [showLoading]="loading"></app-loading>

<div class="mb-4">

  <div class="d-flex align-items-center">
    <span (click)="router.navigate(['admin', 'user'])" class="global_module_title cursor-pointer">User Management</span>
    <mat-icon class="bc-color">keyboard_arrow_right</mat-icon>
    <span class="global_module_title ml-3 cursor-pointer">UserID {{view.userCode}}</span>
  </div>
</div>
<form [formGroup]="formBuilder" *ngIf="formBuilder" (submit)="onSubmit()">
  <div class="card global_list mb-4">
    <div class="card-body p-4">
      <div class="row mb-3">
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <app-input-field [value]="form.userId" [(inputModel)]="form.userId" placeholder="UserID"
                [disabled]="true"></app-input-field>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-12  ">
              <app-dropdown [form]="lookUpStatus" [value]="form.status" [(inputModel)]="form.status" [disabled]="true"
                default="Status">
              </app-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <app-input-field #username errorMessage="Please complete the value in this field."
                [(inputModel)]="form.username" [pattern]="regUser" errorPattern="Username should be in pattern"
                [value]="form.username" maxlength="100" [required]="true" placeholder="Name*">
              </app-input-field>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-12 {{ !isValid ? 'custom-error' : ''}}">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Current Password</mat-label>
                <input disabled="true" id="password" matInput type="password" formControlName="password"
                  [(ngModel)]="form.password" [value]="form.password" [type]="isShowPwd ? 'text' : 'password'">
                <mat-icon matSuffix (click)="isShowPwd = !isShowPwd">{{ isShowPwd ? 'visibility' : 'visibility_off' }}
                </mat-icon>
                <mat-hint class="{{ isValid ? 'custom-error' : ''}}">{{ inputHintMsg }}</mat-hint>
                <mat-error>{{ inputHintMsg }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-2 pt-3">
          <div class="row">
            <div class="col-12">
              <button type="button" (click)="onGeneratePassword()"
                (click)="onGeneratePassword()" class="btn btn-clear">
                Generate Password
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <div class="row">
            <div class="col-12  ">
              <app-datepicker errorMessage="Please complete the value in this field." [value]="form.passwordChangeDate"
                [disabled]="true" placeHolder="Password Change Date">
              </app-datepicker>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-12 ">
              <app-dropdown #role [value]="form.roleId" [(inputModel)]="form.roleId" required
                errorMessage="Please complete the value in this field." url="/v1/user-management/lookup-role"
                default="Role"></app-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex">
          <div class="ml-auto">
            <button type="button" (click)="onCancel()" class="btn btn-clear">Cancel</button>
            <button type="submit" (click)="onSubmit($event)" class="btn btn-save ml-2">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- <div class="mb-4">
  <div class="d-flex align-items-center">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <span (click)="router.navigate(['admin', 'user'])" class="cursor-pointer">Back</span>
  </div>
</div> -->