<mat-form-field class="demo_dropdown" [formGroup]="form">
  <mat-label>{{defaultValue}}</mat-label>
  <mat-select formControlName="order" [(ngModel)]="inputModel" [disabled]="disable" (ngModelChange)="inputModelChange.emit(inputModel)" id="orders" (selectionChange)="submitValue($event)" [required]="orderRequire">
    <!-- <mat-option [value]=0>None</mat-option> -->
    <mat-option>Choose</mat-option>
    <mat-option [title]="item.label" *ngFor="let item of orders" [value]="item.value">{{item.label}}</mat-option>
  </mat-select>
  <mat-icon matSuffix class="expand_icon">expand_more</mat-icon>
  <mat-error *ngIf="orderControl.hasError('required')">{{errorMessage}}</mat-error>
  <mat-hint>{{orderControl.value?.sound}}</mat-hint>
</mat-form-field>