.demo_dropdown {
    width: 100%;
    padding-top: 1.05em;
    height: 59px;
}

::ng-deep .mat-select-arrow {
    visibility: hidden;
}

:host ::ng-deep .mat-form-field-flex {
    padding-left: 0.75em;
}

:host ::ng-deep .mat-form-field-invalid .mat-form-field-wrapper .mat-form-field-underline {
    height: 2px;
    background-color: red;
}
