<div class="dialog-width">
  <p class="global_module_title">Edit ICCG Host</p>

  <div class="row">
    <div class="col-12 mb-3">
      <app-input-field #serverId [disabled]="true" [required]="true" maxlength="" errorMessage="Mock error message"
        [(inputModel)]="form.serverId" [value]="form.serverId" placeholder="Server ID*">
      </app-input-field>
    </div>
    <div class="col-12 mb-3">
      <app-input-field #keyStore [required]="true" maxlength="" errorMessage="Mock error message"
        [(inputModel)]="form.keyStore" [value]="form.keyStore" placeholder="Keystore*">
      </app-input-field>
    </div>
    <div class="col-12 mb-3">
      <app-input-field #alias [required]="true" maxlength="" errorMessage="Mock error message"
        [(inputModel)]="form.alias" [value]="form.alias" placeholder="Alias*">
      </app-input-field>
    </div>
    <div class="col-12 mb-3">
      <app-input-field #passphase [required]="true" maxlength="" errorMessage="Mock error message"
        [(inputModel)]="form.passphase" [value]="form.passphase" placeholder="Passphase*">
      </app-input-field>
    </div>
    <div class="col-12 mb-3">
      <app-input-field #certificate [required]="true" maxlength="" errorMessage="Mock error message"
        [(inputModel)]="form.certificate" [value]="form.certificate" placeholder="Certificate*">
      </app-input-field>
    </div>
  </div>
  <div class="d-flex">
    <div class="ml-auto">
      <button (click)="onClose()" class="btn btn-clear">Cancel</button>
      <button (click)="onSubmit()" class="btn btn-save ml-2">Save</button>
    </div>
  </div>
</div>