// .deal_date {
//     width: 100%;
// }

::ng-deep mat-form-field.custom-required .mat-form-field-underline {
    background-color: #f44336;
    bottom: 0.5em !important;
}
::ng-deep mat-form-field.custom-required .mat-form-field-label {
    color: #f44336;
}
::ng-deep mat-form-field.custom-required .mat-form-field-wrapper {
    padding-bottom: 0.5em;
}

.error-message {
    color: #f44336;
    font-size: 75%;
}

::ng-deep .mat-datepicker-toggle-default-icon {
    color: #123985;
    margin-right: -5px !important;
}

::ng-deep .deal_date .mat-form-field-wrapper .mat-form-field-flex {
    padding-top: 0px !important;
}
