<mat-form-field [formGroup]="form" appearance="fill" class="w-100" [ngClass]="{'custom-form-touched': required && custom_touched, 'custom-required': form.get('dateFieldValue').hasError('required')}">
  <input type="hidden" formControlName="dateFieldValue">
  
  <input matInput formControlName="dateField" [ngxMatDatetimePicker]="picker" [placeholder]="placeHolder"
    [value]="value" [min]="minDate" [max]="maxDate" (dateChange)="onDateChange($event)"
    [(ngModel)]="dateModel" (ngModelChange)="dateModelChange.emit(dateModel)"
    (click)="picker.open(); custom_touched = true"
    [disabled]="disabled" readonly>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

  <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
     [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
     [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian"
     [disableMinute]="disableMinute" [hideTime]="hideTime">
  </ngx-mat-datetime-picker>
</mat-form-field>
<div class="error-message" *ngIf="form.get('dateFieldValue').hasError('required')">{{errorMessage}}</div>