<p class="global_module_title">Datatype</p>

<div class="card global_list">
  <!--
  <div class="card-header">
    <mat-form-field id="input_keyword" appearance="fill" class="input_field">
      <input matInput placeholder="Search by ID, Enduser, Project, ...">
      <button class="btn">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <button class="btn">
      <mat-icon>filter_list</mat-icon>
    </button>
    
    <button class="btn" (click)="onCreate()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  -->
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <!-- <th scope="col"><input type="checkbox" class="form-check"></th> -->
          <th scope="col">Datatype</th>
          <th scope="col">Description</th>
          <th scope="col">Application Flow</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of datas">
          <tr (click)="onView(data.id)">
            <!-- <th scope="row"><input type="checkbox" class="form-check"></th> -->
            <td>{{ data.name }}</td>
            <td>{{ data.desc }}</td>
            <td>{{ data.appFlowName }}</td>
            <td>
              <mat-icon class="edit_btn cursor-pointer" (click)="onEdit(data.id)">create</mat-icon>
              <!-- <mat-icon class="print_btn cursor-pointer">print</mat-icon>
              <mat-icon class="delete_btn cursor-pointer">delete_forever</mat-icon> -->
            </td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <span class="global_list_paging_info">1-50 of 100</span>
            <mat-icon>first_page</mat-icon>
            <mat-icon>navigate_before</mat-icon>
            <mat-icon>navigate_next</mat-icon>
            <mat-icon>last_page</mat-icon>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- <button class="btn gototop_btn" (click)="moveToTop()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button> -->
</div>
