.color-red {
    background-color: #cb4c47;
    color: #ffffff;
  }
  .title-dialog {
    margin: -24px -24px 0px -24px !important;
    padding: 8px !important;
    background-color: #cb4c47 !important;
    color: #ffffff;
    font-size: 14px !important;
  }
  
  .block-scroll {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .text-align-center {
    text-align: center;
  }
  
  .padding-close-icon {
    padding: 0px !important;
    min-width: 10px !important;
  }
  
  .content-dialog {
    color: #aeaeae;
    font-size: 14px !important;
  }
  
  .btn-ok {
    background-color: #cb4c47 !important;
    color: #ffffff;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  
  .dialog-s {
    width: 200px !important;
  }
  
  .dialog-m {
    width: 400px !important;
  }
  
  .dialog-l {
    width: 700px !important;
  }
  