<!-- <h2 >Assign Sales</h2> -->
<div class="dialog-container dialog-s">
  <div mat-dialog-title class="title-dialog">
    <div class="row m-0">
      <div class="col-10 d-flex align-items-center">Session Expired</div>
      <div class="col-2 d-flex justify-content-end align-items-center"> 
        <button mat-button mat-dialog-close class="padding-close-icon" (click)="onOKDialog()">
          <mat-icon class="color-white">close</mat-icon>
        </button></div>
    </div>

  </div>
  <div mat-dialog-content>
    <p class="content-dialog mt-4 mb-0 text-align-center" cdkFocusInitial>You session has expired.</p>
    <p class="content-dialog mt-1 text-align-center" cdkFocusInitial>You will be redirected to the Login page.</p>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-center">
    <button mat-stroked-button mat-dialog-close (click)="onOKDialog()"
      class="btn-ok mt-2">OK</button>
  </div>
</div>