li.nav-item a.nav-link {
    color: black;
    // font-weight: bold;
}

.navbar-bg {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(138,138,138,0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(138,138,138,0.3);
  box-shadow: 0px 5px 5px 0px rgba(138,138,138,0.3);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

// .active-link{
//   border-bottom: 5px solid black;
//   margin-bottom: -10px !important;
// }
.active-link {
  background-color: #e11b22;
  color: #ffffff;
}

.navbar{
   padding: 0.5rem 1rem 5px 1rem!important;
}

.nav-item{
  min-height: 40px;
  min-width: 50px;
  padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.line-left-border{
  border-left:1px solid #797979;
  //  margin-right:10px;
  padding-left:5px;
}

.dropdown-item {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-link {
  cursor: pointer;
  margin-left: 35px;
}


.drop-left{
  left: auto !important;
  right: 0px !important;
  padding-bottom: 0px;
}


.line-top-border{
  border-top:1px solid lightgray;
  margin-top: 10px;
}

.account-active{
  color: #9d2235 !important;
}

.dropdown-custom {
  font-size: 14px;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: #ffffff !important;

}


.dropdown-menu-custom{
  min-width: 17rem;
}

.dropdown-icon{
  display: inline-block;
  float: right;
  padding-left: 10px;
}

.noti_icon {
  min-width: 20px;
  padding: 0px;

  mat-icon {
    font-size: 20px;
    color: #fde000;
  }
}

.logined_info {
  mat-icon {
    font-size: 20px;
    color: #fde000;
    margin-right: 1px;
  }
}

.logout_btn > a {
  color: #e87244 !important;
  font-size: 14px;
  font-weight: normal !important;
  border-style: solid;
  border-width: 1px;
  border-color: #e87244;
  border-radius: 3px;
  height: 22px;
  line-height: 22px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}

#logout-btn {
  color: #123985;
}

.dropdown-menu {
  border-width: 0px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(138,138,138,0.3);
  -moz-box-shadow: 5px 5px 5px 0px rgba(138,138,138,0.3);
  box-shadow: 5px 5px 5px 0px rgba(138,138,138,0.3);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left: 50px;
}

.dropdown-menu > li {
  height: 35px;
}
.dropdown-menu > li > a {
  height: 35px;
  padding-top: 5px;
}
