<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
  <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" height="35" title="{{ environment.title }} v{{ environment.appVersion }}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
    <ul class="navbar-nav main-menu" *ngIf="logined && !auth?.isForcedChangePwd()">
      <li class="nav-item d-flex align-items-center dropdown" dropdown *ngIf="environment.isICMG">
        <a id="bank-mainmenu" class="nav-link cursor-pointer" role="button" dropdownToggle>Bank</a>
        <ul id="bank-submenu" *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/bank/profile" [ngClass]="{'active-link': isActiveLink('/bank/profile')}">Bank Profile</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/bank/message" [ngClass]="{'active-link': isActiveLink('/bank/message')}">Message</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/bank/account" [ngClass]="{'active-link': isActiveLink('/bank/account')}">Accounting</a>
          </li>
        </ul>
      </li>
      <li class="nav-item d-flex align-items-center dropdown" dropdown>
        <a id="message-mainmenu" class="nav-link cursor-pointer" role="button" dropdownToggle>Message</a>
        <ul id="message-submenu" *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem" *ngIf="environment.isICMG">
            <a class="dropdown-item" routerLink="/message/clearing" [ngClass]="{'active-link': isActiveLink('/message/clearing')}">Clearing</a>
          </li>
          <li role="menuitem" *ngIf="environment.isICMG">
            <a class="dropdown-item" routerLink="/message/non-clearing" [ngClass]="{'active-link': isActiveLink('/message/non-clearing')}">Non-Clearing</a>
          </li>
          <li role="menuitem" *ngIf="!environment.isICMG">
            <a class="dropdown-item" routerLink="/message/in-clearing" [ngClass]="{'active-link': isActiveLink('/message/in-clearing')}">In-Clearing</a>
          </li>
          <li role="menuitem" *ngIf="!environment.isICMG">
            <a class="dropdown-item" routerLink="/message/out-clearing" [ngClass]="{'active-link': isActiveLink('/message/out-clearing')}">Out-Clearing</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/message/system" [ngClass]="{'active-link': isActiveLink('/message/system')}">System Message</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/message/batch-resend" [ngClass]="{'active-link': isActiveLink('/message/batch-resend')}">Batch Resend Msg.</a>
          </li>
          <li role="menuitem" *ngIf="environment.isICMG">
            <a class="dropdown-item" routerLink="/message/transmission" [ngClass]="{'active-link': isActiveLink('/message/transmission')}">Transmission Test</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/message/change-status" [ngClass]="{'active-link': isActiveLink('/message/change-status')}">Change Message Status</a>
          </li>
        </ul>
      </li>
      <li class="nav-item d-flex align-items-center dropdown" dropdown>
        <a id="config-mainmenu" class="nav-link cursor-pointer" role="button" dropdownToggle>Configuration</a>
        <ul id="config-submenu" *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/config/flow" [ngClass]="{'active-link': isActiveLink('/config/flow')}">Application Flow</a>
          </li>
          <li role="menuitem" *ngIf="environment.isICMG">
            <a class="dropdown-item" routerLink="/config/sftp" [ngClass]="{'active-link': isActiveLink('/config/sftp')}">Other System SFTP</a>
          </li>
          <li role="menuitem" *ngIf="environment.isICMG">
            <a class="dropdown-item" routerLink="/config/cert" [ngClass]="{'active-link': isActiveLink('/config/cert')}">Certification</a>
          </li>
          <li role="menuitem" *ngIf="environment.isICMG">
            <a class="dropdown-item ml-4" routerLink="/config/cert/icmg" [ngClass]="{'active-link': isActiveLink('/config/cert/icmg')}">ICMG Cert</a>
          </li>
          <li role="menuitem" *ngIf="environment.isICMG">
            <a class="dropdown-item ml-4" routerLink="/config/cert/itmx" [ngClass]="{'active-link': isActiveLink('/config/cert/itmx')}">ITMX Cert</a>
          </li>
          <li role="menuitem" *ngIf="!environment.isICMG">
            <a class="dropdown-item" routerLink="/config/datatype" [ngClass]="{'active-link': isActiveLink('/config/datatype')}">Datatype</a>
          </li>
          <li role="menuitem" *ngIf="!environment.isICMG">
            <a class="dropdown-item" routerLink="/config/queue" [ngClass]="{'active-link': isActiveLink('/config/queue')}">Queue Monitoring System</a>
          </li>
        </ul>
      </li>
      <li class="nav-item d-flex align-items-center dropdown" dropdown>
        <a id="admin-mainmenu" class="nav-link cursor-pointer" role="button" dropdownToggle>Adminstration</a>
        <ul id="admin-submenu" *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/admin/user" [ngClass]="{'active-link': isActiveLink('/admin/user')}">User Management</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/admin/role" [ngClass]="{'active-link': isActiveLink('/admin/role')}">Role & Permissions</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/change_pwd" [ngClass]="{'active-link': isActiveLink('/change_pwd')}">Change Password</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/admin/history" [ngClass]="{'active-link': isActiveLink('/admin/history')}">User History</a>
          </li>
          <li role="menuitem" *ngIf="!environment.isICMG">
            <a class="dropdown-item" routerLink="/admin/queue" [ngClass]="{'active-link': isActiveLink('/admin/queue')}">Queue Monitoring</a>
          </li>
        </ul>
      </li>
      <li class="nav-item d-flex align-items-center dropdown" dropdown>
        <a id="help-mainmenu" class="nav-link cursor-pointer" role="button" dropdownToggle>Help</a>
        <ul id="help-submenu" *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/help/manual" [ngClass]="{'active-link': isActiveLink('/help/manual')}">Manual Informations</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" routerLink="/help/support" [ngClass]="{'active-link': isActiveLink('/help/support')}">Contact Support</a>
          </li>
        </ul>
      </li>
      <!-- <li class="nav-item d-flex align-items-center">
        <a class="nav-link cursor-pointer" role="button" routerLink="/lead-demo">Demo</a>
      </li> -->
    </ul>

    <!--
    <ul class="navbar-nav" *ngFor="let item of menuList">
      <div *ngFor="let permission of item.permission">
        <li class="nav-item d-flex align-items-center" [ngClass]="{'active-link': isActiveLink(item.menuCode)}" *ngIf="item.child.length == 0 && permission == 'view'">
          <a class="nav-link" (click)="onMenuClick([item.menuCode])">{{item.menuName}}</a>
        </li>
        <li class="nav-item  d-flex align-items-center dropdown" dropdown [ngClass]="{'active-link': isActiveLink(item.menuCode)}" *ngIf="item.child.length > 0 && permission == 'view'">
          <a class="nav-link dropdown-toggle cursor-pointer" id="{{item.menuCode}}-mainmenu" role="button" dropdownToggle>{{item.menuName}}</a>
          <ul id="{{item.menuCode}}-submenu" *dropdownMenu class="dropdown-menu" role="menu">
            <div *ngFor="let subItem of item.child">
              <div *ngFor="let subPermission of subItem.permission">
                <li *ngIf="subPermission == 'view'" role="menuitem" >
                  <a class="dropdown-item" (click)="onMenuClick([item.menuCode, subItem.menuCode], subItem)">{{subItem.menuName}}</a>
                </li>
              </div>
            </div>
          </ul>
        </li>
      </div>
    </ul>
    -->

    <!-- <div class="ml-auto mt-2">
      <mat-icon class="" matBadge="15" matBadgeColor="warn">notifications</mat-icon>
    </div> -->
    <ul class="navbar-nav ml-auto ml-4" *ngIf="show_login">
      <!-- <li *ngIf="!logined" class="nav-item d-flex align-items-center" routerLinkActive="active-link" style="cursor: pointer"> -->
      <li *ngIf="!logined" class="nav-item d-flex align-items-center" style="cursor: pointer">
        <a class="nav-link" (click)="onLogin()">Login</a>
      </li>
      <ng-container *ngIf="logined">
        <!-- <li class="nav-item d-flex align-items-center noti_icon" style="cursor: pointer">
          <mat-icon>notifications</mat-icon>
        </li> -->
        <!-- <li class="nav-item d-flex align-items-center logined_info" style="cursor: pointer">
          <mat-icon>account_circle</mat-icon>
          {{ user.user_name }}
          นิรินทร์ ปานแก้ว (ธุรการ)
        </li> -->
        <li class="nav-item d-flex align-items-center">
          <a id="logout-btn" class="nav-link" (click)="onLogout()">Log out</a>
        </li>
      </ng-container>
      <!--
      <li *ngIf="logined" class="nav-item d-flex align-items-center dropdown" dropdown>
        <a class="nav-link dropdown-toggle " id="user-mainmenu" role="button" dropdownToggle aria-controls="user-submenu"
          style="cursor: pointer">
          test@account.com
        </a>
        <ul id="user-submenu" *dropdownMenu class="dropdown-menu dropdown-menu-custom drop-left" role="menu" aria-labelledby="user-mainmenu" >
          <li role="menuitem" class="line-top-border">
            <a class="dropdown-item" style="padding-top: .5em;" (click)="onLogout()">
              <div style="display: inline-block">
                Logout
              </div>
              <div class="dropdown-icon">
                <i class="material-icons" style="font-size: 20px;">logout</i>
              </div>
            </a>
          </li>
        </ul>
      </li>
      -->
    </ul>
  </div>
</nav>
