<div class="dialog-width">
  <p class="global_module_title">Edit ICCG Host</p>

  <div class="row">
    <div class="col-12">
      <app-input-field #field [required]="true" errorMessage="Mock error message" [(inputModel)]="value" [value]="value"
        placeholder="ICCG Host*">
      </app-input-field>
    </div>
  </div>
  <div class="d-flex">
    <div class="ml-auto">
      <button (click)="onClose()" class="btn btn-clear">Cancel</button>
      <button (click)="onSubmit()" class="btn btn-save ml-2">Save</button>
    </div>
  </div>
</div>