<div class="dialog-width">
  <p class="global_module_title">{{title}}</p>
  <div class="row">
    <div class="col-12">
      <p class="description-font">
        {{ description }}
      </p>
    </div>
  </div>
  <div class="d-flex">
    <div class="ml-auto">
      <button (click)="onClose()" class="btn btn-clear">{{ txtCancel }}</button>
      <button (click)="onSubmit()" class="btn btn-save ml-2">{{ txtSubmit }}</button>
    </div>
  </div>
</div>