::ng-deep app-navbar {
    display: none;
    height: 0px !important;
    position: absolute;
}

::ng-deep .container-main {
    padding: 0px !important;
    margin: 0px !important;
    background-color: #ffffff !important;
}

.background {
    padding: 0px;
}
.background > img {
    height: 100vh;
    // width: 100vw;
    float: right;
}

.logo {
    width: 330px;
}

.login {
    position: absolute;
    width: 400px;
    height: 500px;
    left: -webkit-calc(50% - 200px);
    top: -webkit-calc(50% - 250px);
    text-align: center;
}

::ng-deep .input-pwd .mat-form-field-flex {
    height: 51px !important;
}
::ng-deep .input-pwd .mat-input-element {
    margin-bottom: 8px;
}
::ng-deep .input-pwd .mat-icon {
    color: #737373;
}

// .mat-hint {
//     color: #e11b22;
// }
.error-color {
    color: #e11b22;
}
