<app-loading [showLoading]="isLoading"></app-loading>

<div class="w-100 m-0 p-0 row">
    <div class="col-6">
        <div class="login">
            <img src="assets/img/logo.png" class="logo" />

            <div class="mb-4 font-weight-bold">Login to Your Account</div>
            
            <form [formGroup]="form" *ngIf="form" (submit)="onLogin()">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label [ngClass]="{ 'error-color': isLoginFailed }">Username</mat-label>
                    <input matInput formControlName="username" placeholder="admin">
                </mat-form-field>

                <mat-form-field appearance="fill" class="w-100 input-pwd">
                    <mat-label [ngClass]="{ 'error-color': isLoginFailed }">Password</mat-label>
                    <input matInput type="password" formControlName="password" [type]="isShowPwd ? 'text' : 'password'">
                    
                    <mat-icon matSuffix (click)="isShowPwd = !isShowPwd">{{ isShowPwd ? 'visibility' : 'visibility_off' }}</mat-icon>

                    <mat-hint class="error-color" *ngIf="isLoginFailed">Username or Password is invalid.</mat-hint>
                </mat-form-field>
                <!-- <div class="login_fail" *ngIf="isLoginFailed">Username or Password is invalid.</div> -->

                <div class="row mt-5">
                    <button type="button" mat-stroked-button class="system-btn-secondary col-4" (click)="onCancel()">Cancel</button>
                    <div class="col-1"></div>
                    <button type="submit" mat-flat-button class="system-btn-primary-gray col-7">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-6 background">
        <img src="assets/img/bg-login.png" />
    </div>
</div>