<form [formGroup]="form">
  <mat-form-field class="multi-selected">
    <mat-label>{{ fieldName }}</mat-label>
    <!-- <mat-select formControlName="inputField" (selectionChange)="onValuesChange()" multiple> -->
    <mat-select formControlName="inputField" multiple [disabled]="disabled">
      <mat-select-trigger>
        <span *ngIf="form.get('inputField').value.indexOf(0) > -1">{{ optionAllTitle }}</span>
        <ng-container *ngIf="form.get('inputField').value.indexOf(0) == -1">
          <ng-container *ngFor="let item of form.get('inputField').value; let i = index">
            <span *ngIf="i > 0">, </span>
            <span *ngIf="item != 0">{{ getOptionValue(item) }}</span>
          </ng-container>
        </ng-container>
      </mat-select-trigger>
      <mat-option #optionAll (click)="toggleAllOptions()" [value]="0">{{ optionAllTitle }}</mat-option>
      <mat-option *ngFor="let option of options" (click)="toggleOption()" [value]="option.value">{{ option.label }}</mat-option>
    </mat-select>

    <mat-error *ngIf="form.invalid">
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>

  <!-- <div [appValidate]="form.get('selectValues')"></div> -->
</form>
