body{
  background-color: red !important;
}


.container-main{
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.font-elememt{
  color: #737373;
}

.color-red {
  background-color: #cb4c47;
  color: #ffffff;
}

.title-dialog {
  margin: -24px -24px 0px -24px !important;
  padding: 8px !important;
  background-color: #cb4c47 !important;
  color: #ffffff;
  font-size: 14px !important;
}

.padding-close-icon {
  padding: 0px !important;
  min-width: 16px !important;
}

.content-dialog {
  color: #aeaeae;
  font-size: 14px !important;
}

.btn-ok {
  background-color: #cb4c47 !important;
  color: #ffffff;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.dialog-s{
  width: 200px !important;
}

.dialog-m{
  width: 400px !important;
}

.dialog-l{
  width: 700px !important;
}


