<p class="global_module_title">In-Clearing</p>

<div class="card global_list">
  <div class="card-body pt-4 pb-4 pl-5 pr-5">
    <form (submit)="onSearch()" [formGroup]="searchForm">
      <div class="row">
        <div class="col-6"><app-dropdown-new placeholder="Bank" [disabled]="true"></app-dropdown-new></div>
        <div class="col-6"><app-dropdown-new placeholder="Datatype"></app-dropdown-new></div>
        <div class="col-6"><app-datepicker placeHolder="System Sending/Receiving (Start Date)"></app-datepicker></div>
        <div class="col-6"><app-datepicker placeHolder="System Sending/Receiving (End Date)"></app-datepicker></div>
        <div class="col-6"><app-dropdown-new placeholder="Settlement Periods"></app-dropdown-new></div>
        <div class="col-6"><app-dropdown-new placeholder="Status"></app-dropdown-new></div>
        <div class="col-12"><app-input-field placeholder="Filename" value=""></app-input-field></div>
        <div class="col-6"><app-dropdown-new placeholder="Clearing Session"></app-dropdown-new></div>
        <div class="col-6"><app-dropdown-new placeholder="Status"></app-dropdown-new></div>
        <div class="col-12">
          <div class="float-right">
            <button mat-stroked-button class="system-btn-secondary system-btn-fixsize" (click)="onClear()">Clear</button>
            <button type="submit" mat-flat-button class="system-btn-primary-gray system-btn-fixsize ml-3">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card global_list mt-4">
  <!--
  <div class="card-header">
    <mat-form-field id="input_keyword" appearance="fill" class="input_field">
      <input matInput placeholder="Search by ID, Enduser, Project, ...">
      <button class="btn">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <button class="btn">
      <mat-icon>filter_list</mat-icon>
    </button>
    
    <button class="btn" (click)="onCreate()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  -->
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <!-- <th scope="col"><input type="checkbox" class="form-check"></th> -->
          <th scope="col">Bank</th>
          <th scope="col">Datatype</th>
          <th scope="col">System Sending/Receiving</th>
          <th scope="col">Settlement Periods</th>
          <th scope="col">Status</th>
          <th scope="col">Filename</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of datas">
          <!-- <tr (click)="onView(data.id)"> -->
          <tr>
            <!-- <th scope="row"><input type="checkbox" class="form-check"></th> -->
            <td>{{ data.bankCode }}</td>
            <td>{{ data.dataType }}</td>
            <td>{{ data.processTime | date : "yyyy-MM-dd hh:mm:ss" }}</td>
            <td>{{ data.period }}</td>
            <td><span [ngStyle]="{'color': '#' + data.status.color }">{{ data.status.label }}</span></td>
            <td><a href="{{ data.file.fileId }}" class="system-download-file">{{ data.file.fileName }}</a></td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <span class="global_list_paging_info">1-50 of 100</span>
            <mat-icon>first_page</mat-icon>
            <mat-icon>navigate_before</mat-icon>
            <mat-icon>navigate_next</mat-icon>
            <mat-icon>last_page</mat-icon>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- <button class="btn gototop_btn" (click)="moveToTop()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button> -->
</div>
