<p class="global_module_title">
  <a [routerLink]="['/config/datatype']">Datatype</a>
  <mat-icon>navigate_next</mat-icon>
  <span>Datatype {{ data.id }}</span>

  <button mat-flat-button class="system-btn-primary float-right" (click)="onEdit()">Edit</button>
</p>

<div class="card">
    <div class="card-header">
      Datatype ID : {{ data.id }}
    </div>
    <div class="card-body">
      <table>
        <tbody>
          <tr>
            <th>ID</th>
            <td>{{ data.id }}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{ data.name }}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ data.desc }}</td>
          </tr>
          <tr>
            <th>App Flow Name</th>
            <td>{{ data.appFlowName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
