<mat-card class="p-0 pb-4 deal-price-custom-main" [formGroup]="form">
  <app-loading [showLoading]="isLoading"></app-loading>

  <mat-card-title class="title-card row align-items-center">
    <div class="ml-3">{{ title }}</div>
    <div class="ml-auto">
      <button mat-button (click)="onCancel()">
        <mat-icon class="size-small hover">close</mat-icon>
      </button>
    </div>
  </mat-card-title>

  <mat-card-content class="form-data row pl-4 pr-4 ml-4 mr-4">

    <div class="col-12 row" *ngIf="enableBranch">
      <div class="col-5 p-0">
        <label>Branch</label><br />
        <mat-radio-group formControlName="isHeadOffice" aria-label="">
          <mat-radio-button value="1">Head Office</mat-radio-button>
          <mat-radio-button value="0">Branch</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-7 p-0 mt-2">
        <mat-form-field class="input-address" *ngIf="form.get('isHeadOffice').value=='0'">
          <!-- <input matInput type="number" placeholder="Branch No.*" formControlName="branchNo"> -->
          <input matInput type="text" placeholder="Branch No.*" formControlName="branchNo" [maxlength]="5">
          <!-- <mat-error>This field is required.</mat-error> -->
          <mat-error *ngIf="form.get('branchNo').errors?.required">This field is required.</mat-error>
          <mat-error *ngIf="!form.get('branchNo').errors?.required && form.get('branchNo').errors?.invalided">This field is invalid format.</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="col-6">
      <mat-form-field class="input-address">
        <textarea matInput placeholder="Address (TH)" formControlName="addrTh" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [maxlength]="500"></textarea>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="input-address">
        <textarea matInput placeholder="Address (EN)" formControlName="addrEn" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [maxlength]="500"></textarea>
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="input-address">
        <input matInput placeholder="Country (TH)" formControlName="countryNameTh" [maxlength]="50">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="input-address">
        <input matInput placeholder="Country (EN)" formControlName="countryNameEn" [maxlength]="50">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="input-address">
        <input matInput placeholder="Province (TH)" formControlName="provinceNameTh" [maxlength]="50">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="input-address">
        <input matInput placeholder="Province (EN)" formControlName="provinceNameEn" [maxlength]="50">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="input-address">
        <input matInput placeholder="District (TH)" formControlName="districtNameTh" [maxlength]="50">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="input-address">
        <input matInput placeholder="District (EN)" formControlName="districtNameEn" [maxlength]="50">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="input-address">
        <input matInput placeholder="Sub District (TH)" formControlName="subDistrictNameTh" [maxlength]="50">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="input-address">
        <input matInput placeholder="Sub District (EN)" formControlName="subDistrictNameEn" [maxlength]="50">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field class="input-address">
        <input matInput placeholder="Zip Code" formControlName="zipcode" [maxlength]="10">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
    </div>
    <div class="col-6"></div>

  </mat-card-content>

  <mat-card-content class="form-data row pl-4 pr-4" *ngIf="enableUploadFile">
    <div class="col-12 data-info">
      Files
      <!-- <span class="files_upload_remark" *ngIf="isRequiredFileUpload && fileToUpload == null">(Please Upload File)</span> -->
      <span class="files_upload_remark">(Please Upload File)</span>
    </div>
    <div class="col-12 data-info mt-3">
      <!-- <a href="#" class="files_upload_link">+ Upload File</a> -->
      <!--
      <input #fileInput type="file" (change)="handleFileUpload($event.target.files)" style="display:none">
      <span class="files_upload_link" (click)="fileInput.click()">+ Upload File</span>
      <span *ngIf="fileToUpload != null" class="pl-2">{{ fileToUpload.name }}</span>
      -->
      <div>
        <app-upload-file [isMulti]="true" [canUpload]="canUpload" [canDownLoad]="canDownload" [canDeleteOld]="true"
        [filesList]="address.files" [uploadUrl]="uploadUrl" appenedName="AddressFile" [maxSize]="maxSize"
        (showLoading)="onShowLoading($event)"></app-upload-file>
      </div>
    </div>
  </mat-card-content>

  <div class="col-12 justify-content-center d-flex mt-4">
    <button mat-raised-button class="btn-cancel" (click)="onCancel()">Cancel</button>
    <button mat-raised-button class="btn-save ml-3" (click)="onSave()">Save</button>
  </div>

</mat-card>
