<form class="example-form" [formGroup]="form">
  <mat-form-field class="example-full-width">
    <input [disabled]="disabled" [required]="required" type="text" [placeholder]="placeholder" matInput
      [formControl]="myControl" [matAutocomplete]="auto" (blur)="onBlur()" [value]="value_input"
      (change)="handleChange($event.target.value)">
    <!-- <div [appValidate]="form.get('myControl')"></div> -->
    <!-- [value]="value_input" -->
    <mat-error *ngIf="myControl.hasError('required')">
      {{ errorMessage }}
    </mat-error>

    <button mat-button *ngIf="value_input" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()"
      [disabled]="disabled">
      <mat-icon>close</mat-icon>
    </button>
    <!-- <mat-icon matSuffix class="expand_icon" *ngIf="!value_input && !disabled">expand_more</mat-icon>
    <mat-icon matSuffix class="clear_icon" *ngIf="value_input && !disabled" (click)="onClear()">close</mat-icon> -->
    
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option [title]="option.label" *ngFor="let option of filteredOptions | async" [value]="option"
      (onSelectionChange)="SubmitValue(option.value)">
      <span title="test">{{option.label}}</span>
    </mat-option>
  </mat-autocomplete>
</form>