<mat-card id="address-popup" class="p-0 pb-4 deal-price-custom-main" [formGroup]="form">

  <mat-card-title class="title-card row align-items-center">
    <div>{{ title }}</div>
    <div class="ml-auto">
      <button mat-button (click)="onCancel()">
        <mat-icon class="size-small hover">close</mat-icon>
      </button>
    </div>
  </mat-card-title>

  <mat-card-content class="form-data row pl-4 pr-4">
    <div id="address1-area" class="col-12 data-info">
      <app-input-field class="w-50" placeholder="Address 1" [value]="form.get('address1').value"></app-input-field>
    </div>
    <div id="address2-area" class="col-12 data-info mt-4">
      <app-input-field class="w-50" placeholder="Address 2" [value]="form.get('address2').value"></app-input-field>
    </div>
    <div class="col-12 data-info">
      <app-address [hideHeader]="true" [inputZipCode]="form.get('zipcode')"
        [inputSubDistrict]="form.get('subDistrictId')" [inputDistrict]="form.get('districtId')"
        [inputProvince]="form.get('provinceId')" [inputCountry]="form.get('countryId')"
        (onValue)="onAddressChange($event)" (zipCode)="form.get('zipcode')" #addressComponent></app-address>
    </div>
  </mat-card-content>

  <mat-card-content class="form-data row pl-4 pr-4" *ngIf="enableUploadFile">
    <div class="col-12 data-info">
      Files
      <span class="files_upload_remark">(Please Upload File)</span>
    </div>
    <div class="col-12 data-info mt-3">
      <a href="#" class="files_upload_link">+ Upload File</a>
    </div>
  </mat-card-content>

  <div class="col-12 justify-content-center d-flex mt-4">
    <button mat-raised-button class="btn-cancel" (click)="onCancel()">Cancel</button>
    <button mat-raised-button class="btn-save ml-3" (click)="onSave()">Save</button>
  </div>

</mat-card>