.title-card {
  background-color: #b1b3b3;
  color: white;
  padding: 10px 10px;
  margin-bottom: 0px;
}

.form-data {
  padding: 10px 10px;
}

.color-primary {
  color: #9d2235;
}

.bg-button {
  background-color: #ffffff !important;
  color: #9d2235;
  margin: 5px;
}

.mat-header-cell {
  color: #32323a;
}

.ml-3 {
  margin-left: 5px;
}

.row {
  display: flex !important;
  margin: 0 !important;
}

.ml-auto {
  margin-left: auto !important;
}

table {
  width: 100%;
}

.font-elememt {
  color: #737373;
}

.chip {
  font-size: 11px !important;
  min-width: 80px;
  height: 26px;
  line-height: 26px !important;
}
.chip-pending {
  background-color: #f39c33;
  color: white;
}
.chip-approved {
  background-color: #6bb463;
  color: white;
}
.chip-rejected {
  background-color: #db0f26;
  color: white;
}
.chip-draft {
  background-color: #4cb3d4;
  color: white;
}

.mat-header-cell {
  height: 65px !important;
  font-size: 15px !important;
}
.mat-cell {
  height: 55px !important;
}

.btn-disable {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  background-color: #cccccc;
  color: #ffffff;
}

mat-icon.hover {
  cursor: pointer;
}

.deal-price-custom-main {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 77px;
  margin-bottom: 77px;
}

::ng-deep .cdk-overlay-pane {
  //width: auto !important;
  overflow: auto;
}

.mat-card-title {
  font-size: 15px !important;
}

.data-header {
  font-weight: bold;
}
.data-info {
  font-weight: bold;
  color: #888888;
}

.files_upload_remark {
  color: #EE0000;
  margin-left: 20px;
}
.files_upload_link {
  color: #990000;
}
