<!-- <h2 >Assign Sales</h2> -->
<div class="dialog-container">
    <div mat-dialog-title class="title-dialog">
        <div class="row">
            <div class="col-8" cdkFocusInitial> Warning!</div>
            <div class="col-4 d-flex justify-content-end align-items-center"> <button mat-button mat-dialog-close
                    class="padding-close-icon">
                    <mat-icon class="color-white">close</mat-icon>
                </button></div>
        </div>

    </div>
    <mat-dialog-content class="mat-typography mt-3 ">
        <div class="msg-body">You don't have permission to this infomation.</div>
    </mat-dialog-content>
    <mat-dialog-actions class="mt-3">
        <button mat-raised-button class="btn-edit-dialog btn-default-size" (click)="onOK()">OK</button>
    </mat-dialog-actions>
</div>