.img-center-logo{
    margin-top: 15%;
    max-width: 40%;
    max-height: 40%;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 77.99px;
}

.dialog-container{
    min-width: 350px;
    max-width: 350px;
  }

.title-dialog{
    margin: -24px -24px 0px -24px !important;
    padding: 12px !important;
    background-color: #ffbb32 !important;
    color:white;
    font-size: 17px;
}

.padding-close-icon{
    padding:0px !important;
    min-width: 24px !important;
}
  
.btn-edit-dialog {
    background-color: #ffbb32 !important;
    color: #ffffff;
}

.mat-dialog-actions {
    justify-content: center;
}

.msg-body{
    color: #b1b3b3 !important;
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
}