<app-loading [showLoading]="loading"></app-loading>

<div class="mb-4">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <span (click)="router.navigate(['admin', 'user'])" class="global_module_title cursor-pointer">User
        Management</span>
      <mat-icon class="bc-color">keyboard_arrow_right</mat-icon>
      <span class="global_module_title ml-3 cursor-pointer">UserID {{view.userCode}}</span>
    </div>

    <div>
      <button (click)="router.navigate(['admin', 'user', 'edit', userId])"
        class="btn btn-save ml-2 d-flex align-items-center">
        <mat-icon class="mr-2">create</mat-icon>
        Edit
      </button>
    </div>
  </div>
</div>

<div class="card global_list mb-4">
  <div class="card-body p-4">
    <div class="row mb-3">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <strong>UserID:</strong>
          </div>
          <div class="col-8">
            <app-label [value]="view.userCode"></app-label>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <strong>Status:</strong>
          </div>
          <div class="col-8">
            <app-label [value]="statusTxt"></app-label>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <strong>Name:</strong>
          </div>
          <div class="col-8">
            <app-label [value]="view.username"></app-label>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <strong>Last Login Time:</strong>
          </div>
          <div class="col-8">
            <app-label [value]="setDateFormat(view.lastLoginDate)"></app-label>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <strong>Password Expiry Date:</strong>
          </div>
          <div class="col-8">
            <app-label [value]="setDateFormat(view.passwordExpireDate)"></app-label>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <strong>Password Change Date:</strong>
          </div>
          <div class="col-8">
            <app-label [value]="setDateFormat(view.passwordChangeDate)"></app-label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <strong>Number of Retries:</strong>
          </div>
          <div class="col-8">
            <app-label [value]="view.numberRetry"></app-label>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <strong>Role:</strong>
          </div>
          <div class="col-8">
            <app-label [value]="view.roleName"></app-label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-4">
  <div class="d-flex align-items-center">
    <mat-icon class="bc-color">keyboard_arrow_left</mat-icon>
    <span (click)="router.navigate(['admin', 'user'])" class="cursor-pointer">Back</span>
  </div>
</div>