<p class="global_module_title">
  <a [routerLink]="['/lead-demo']">Lead</a>
  <mat-icon>navigate_next</mat-icon>
  Detail Lead ID LD00001
</p>

<div class="card">
    <div class="card-header">
      Lead ID : {{ data.leadID }}
      <button class="btn btn-sm btn-primary" (click)="onEdit()">Edit</button>
    </div>
    <div class="card-body">
      <table>
        <tbody>
          <tr>
            <th>Lead ID</th>
            <td>{{ data.leadCode }}</td>
          </tr>
          <tr>
            <th>Contact ID</th>
            <td>{{ data.contactCode }}</td>
          </tr>
          <tr>
            <th>Contact Name</th>
            <td>{{ data.contactName }}</td>
          </tr>
          <tr>
            <th>Lead Status</th>
            <td>{{ data.leadStatusName }}</td>
          </tr>
          <tr>
            <th>Company</th>
            <td>{{ data.leadCompany }}</td>
          </tr>
          <tr>
            <th>Lead Created Date</th>
            <td>{{ data.leadCreateDate | date : "d MMMM yyyy, h:mm a" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
