.example-full-width{
  width:100%;
  padding-top: 1.20em;
}

:host ::ng-deep .mat-form-field-wrapper .mat-form-field-flex {
  padding-left: 0.75em;
}

/*
::ng-deep .cdk-overlay-container > .cdk-overlay-connected-position-bounding-box > .cdk-overlay-pane {
  width: auto !important;
}
*/

::ng-deep .mat-option {
  height: 38px !important;
  line-height: 38px !important;
}
::ng-deep .mat-option-text {
  font-size: 14px;
}

::ng-deep mat-form-field.field-disabled .mat-form-field-underline {
  /*
  background-color: transparent !important;
  border-style: dotted;
  border-width: 0.3px;
  */
  background-color: transparent !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
  background-size: 4px 100%;
  background-repeat: repeat-x;
}

::ng-deep div.mat-autocomplete-panel {
  max-width: 100% !important;
  width: 100% !important;
}

