<form [formGroup]="form" class="example-form">
  <!-- <app-loading [showLoading]="!isDataLoaded"></app-loading> -->
  <mat-form-field class="example-full-width" [ngClass]="{'field-disabled': disabled}">
    <input type="text" [placeholder]="placeholder" aria-label="Number" matInput formControlName="inputField" [matAutocomplete]="auto" (blur)="onBlur()" [readonly]="disabled" [attr.disabled]="disabled?'true':null" >
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
      <mat-option [title]="option.label" *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="onSelect()" [disabled]="disabled_option" >
        {{ option.label }}
      </mat-option>
    </mat-autocomplete>

    <button mat-button *ngIf="isSelected() && !disabled && enableClearBtn" matSuffix mat-icon-button aria-label="Clear" (click)="onClear($event)">
      <mat-icon>close</mat-icon>
    </button>
    <!-- <mat-icon matSuffix class="expand_icon" *ngIf="!isSelected() && !disabled">expand_more</mat-icon>
    <mat-icon matSuffix class="clear_icon" *ngIf="isSelected() && !disabled && enableClearBtn" (click)="onClear($event)">close</mat-icon> -->

    <mat-spinner matSuffix class="mr-2" strokeWidth="3" [diameter]="19" *ngIf="!isDataLoaded"></mat-spinner>
    <mat-error *ngIf="form.invalid">
      {{ errorMessage }}
    </mat-error>
  </mat-form-field>

  <!-- <input type="button" (click)="onClear()" value="Clear"> -->
  <!-- <input type="button" (click)="onValueChange(false)" value="Submit"> -->
</form>
