<div>
  <div class="row" *ngFor="let item of filesList; let i = index">
      <label class="mb-2 cursor-pointer blue-font" (click)="onDownLoadFile(item.fileId)" *ngIf="canDownload">{{item.fileName}}</label>
      <label class="mb-2" *ngIf="!canDownload">{{item.fileName}}</label>
    <!-- <a class="d-flex align-items-center mr-2 mb-2" [href]="item.link" target="_blank" >{{item.fileName}}</a> -->
    <mat-icon class="mb-2 del-icon cursor-pointer" (click)="onDelete(item.fileId)" *ngIf="canDeleteOld || (!canDeleteOld && i >= cantDelListSize)">delete</mat-icon>
  </div>
  <input hidden id="input-file-id-{{ appenedName }}" [multiple]="isMulti" type="file" 
  (change)="onFileSelected($event)" #inputFile  />
  <label for="input-file-id-{{ appenedName }}" class="upload-file cursor-pointer" *ngIf="canUpload && !disabled">+ Upload File</label> 
</div>
