<p class="global_module_title">Out-Clearing</p>

<app-loading [showLoading]="isLoading"></app-loading>

<div class="card global_list">
  <div class="card-body pt-4 pb-4 pl-5 pr-5">
    <form (submit)="onSearch()" [formGroup]="form" *ngIf="form">
      <div class="row">
        <div class="col-6"><app-datepicker placeHolder="Clearing Date (Start Date)" [value]="form.get('clearingStart').value" (dateModelChange)="onValueUpdate('clearingStart', $event)"></app-datepicker></div>
        <div class="col-6"><app-datepicker placeHolder="Clearing Date (End Date)" [value]="form.get('clearingEnd').value" (dateModelChange)="onValueUpdate('clearingEnd', $event)"></app-datepicker></div>
        <div class="col-6"><app-dropdown-new placeholder="Bank" url="/v1/master/banks" [value]="form.get('bankCode').value" (onValueUpdate)="onValueUpdate('bankCode', $event)"></app-dropdown-new></div>
        <div class="col-6"><app-dropdown-new placeholder="Report Type" url="/v1/master/datatypes/out-clearing" [value]="form.get('dataType').value" (onValueUpdate)="onValueUpdate('dataType', $event)"></app-dropdown-new></div>
        <div class="col-6"><app-input-field placeholder="Filename" [value]="form.get('fileName').value" (onValueUpdate)="onValueUpdate('fileName', $event)"></app-input-field></div>
        <div class="col-6"><app-dropdown-new placeholder="ICXP Status" url="/v1/master/icxp_status" [value]="form.get('icxpStatus').value" (onValueUpdate)="onValueUpdate('icxpStatus', $event)"></app-dropdown-new></div>
        <!-- <div class="col-6"><app-dropdown-new placeholder="Clearing Session"></app-dropdown-new></div> -->
        <div class="col-6"><app-dropdown-new placeholder="Status" url="/v1/master/report_status" [value]="form.get('reportStatus').value" (onValueUpdate)="onValueUpdate('reportStatus', $event)"></app-dropdown-new></div>
        <div class="col-12">
          <div class="float-right">
            <button mat-stroked-button class="system-btn-secondary system-btn-fixsize" (click)="onClear()">Clear</button>
            <button type="submit" mat-flat-button class="system-btn-primary-gray system-btn-fixsize ml-3">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card global_list mt-4" *ngIf="!isLoading">
  <!--
  <div class="card-header">
    <mat-form-field id="input_keyword" appearance="fill" class="input_field">
      <input matInput placeholder="Search by ID, Enduser, Project, ...">
      <button class="btn">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <button class="btn">
      <mat-icon>filter_list</mat-icon>
    </button>
    
    <button class="btn" (click)="onCreate()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  -->
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <!-- <th scope="col"><input type="checkbox" class="form-check"></th> -->
          <th scope="col">Business Datetime</th>
          <th scope="col">Clearing Date</th>
          <th scope="col">Clearing Bank</th>
          <th scope="col">Report Type</th>
          <th scope="col">Filename</th>
          <th scope="col">ICXP Status</th>
          <!-- <th scope="col">Clearing Session</th> -->
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of response?.items">
          <!-- <tr (click)="onView(data.id)"> -->
          <tr>
            <!-- <th scope="row"><input type="checkbox" class="form-check"></th> -->
            <td>{{ item?.businessDate | date : "yyyy-MM-dd hh:mm:ss" }}</td>
            <td>{{ item?.clearingDate | date : "yyyy-MM-dd" }}</td>
            <td>{{ item?.bankCode }}</td>
            <td>{{ item?.dataType }}</td>
            <td><a class="system-download-file" (click)="onDownload(item?.file?.fileId)" *ngIf="item?.file">{{ item?.file?.fileName }}</a></td>
            <td><span [ngStyle]="{'color': '#' + item?.icxpStatus?.color }" *ngIf="item?.icxpStatus">{{ item.icxpStatus?.label }}</span></td>
            <!-- <td>{{ item?.clearingSession }}</td> -->
            <td><span [ngStyle]="{'color': '#' + item?.reportStatus?.color }" *ngIf="item?.reportStatus">{{ item.reportStatus?.label }}</span></td>
          </tr>
        </ng-container>

        <tr *ngIf="response && response?.total==0">
          <td colspan="8" class="data-not-found">-- Data not found --</td>
        </tr>
      </tbody>
      <tfoot>
        <tr *ngIf="response">
          <td colspan="8">
            <span>
              Row per page:
            </span>
            <app-dropdown-new class="system-page-size" url="/v1/master/page_size" [hideDefaultOption]="true" [value]="form.get('limit').value" (onValueUpdate)="onValueUpdate('limit', $event)"></app-dropdown-new>

            <span class="global_list_paging_info">
              {{ response?.total > 0 ? (((response?.page - 1) * response?.limit) + 1) : 0 }}
              -
              {{ response?.total > 0 ? (((response?.page - 1) * response?.limit) + response?.items.length) : 0 }}
              of
              {{ response?.total }}
            </span>

            <a class="system-page-control" [ngClass]="{ 'actived': response?.page > 1 }" (click)="onFirstPage()"><mat-icon>first_page</mat-icon></a>
            <a class="system-page-control" [ngClass]="{ 'actived': response?.page > 1 }" (click)="onPrevPage()"><mat-icon>navigate_before</mat-icon></a>
            <a class="system-page-control" [ngClass]="{ 'actived': response?.page < response?.pageNum }" (click)="onNextPage()"><mat-icon>navigate_next</mat-icon></a>
            <a class="system-page-control" [ngClass]="{ 'actived': response?.page < response?.pageNum }" (click)="onLastPage()"><mat-icon>last_page</mat-icon></a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- <button class="btn gototop_btn" (click)="moveToTop()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button> -->
</div>