<div class="dialog-width text-center" >
  <ng-container *ngIf="pass else failed">
    <img src="../../../../assets/img/circle-checked.svg" />
  </ng-container>
  <p class="global_module_title mt-4">{{title}}</p>
  <div class="row">
    <div class="col-12">
      <p class="description-font">
        <!-- {{ description }} -->
      </p>
    </div>
  </div>
  <div class="d-flex">
    <div class="ml-auto mr-auto">
      <button (click)="onSubmit()" class="btn btn-clear ml-2">OK</button>
    </div>
  </div>
</div>

<ng-template #failed>
  <img src="../../../../assets/img/circle-failed.svg" />
</ng-template>