<div>
  <div class="font-label">
    {{label}}
  </div>
  <div *ngIf="value != ''&& value != null && value != '0.00' && value != undefined; else nullValue"
    [class]="styleValue">
    <label class="new-line-label">{{value}}</label>
  </div>

  <ng-template #nullValue>
    <div [class]="styleValue">
      <label>-</label>
    </div>
  </ng-template>
</div>