<!-- <h2 >Assign Sales</h2> -->
<div class="dialog-container">
  <div mat-dialog-title class="title-dialog">
    <div class="row m-0">
      <div class="col-10 d-flex align-items-center"> Warning!</div>
      <div class="col-2 d-flex justify-content-end align-items-center">
        <button mat-button mat-dialog-close class="padding-close-icon" (click)="onClose()">
          <mat-icon class="color-white">close</mat-icon>
        </button></div>
    </div>

  </div>
  <mat-dialog-content class="mat-typography mt-1 ">
    <p class="content-dialog mt-4 text-align-center" cdkFocusInitial>Are you sure you want to leave this page?</p>
    <p class="content-dialog mt-4 text-align-center" cdkFocusInitial>You have some unsaved changes.</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button (click)="onClose()" class="btn-ok mt-2 mr-3 mb-3 btn-close-dialog">Stay on Page</button>

    <button mat-stroked-button (click)="onConfirm()" class="btn-ok mt-2 mb-3 btn-confirm-dialog">Leave Page</button>
  </mat-dialog-actions>
</div>