// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$system-primary: mat-palette($mat-indigo);
$system-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$system-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$system-theme: mat-light-theme($system-primary, $system-accent, $system-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($system-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$system-primary: mat-palette($mat-indigo);
$system-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$system-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$system-theme: mat-light-theme($system-primary, $system-accent, $system-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($system-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$system-primary: mat-palette($mat-indigo);
$system-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$system-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$system-theme: mat-light-theme($system-primary, $system-accent, $system-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($system-theme);

/* You can add global styles to this file, and also import other style files */

// a{
//   // color:red !important;
// }

.form-control.ng-invalid.ng-dirty,
.form-control.ng-invalid.ng-touched {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.form-control.ng-invalid.ng-dirty:focus,
.form-control.ng-invalid.ng-touched:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.form-check-input.ng-invalid.ng-dirty ~ .form-check-label,
.form-check-input.ng-invalid.ng-touched ~ .form-check-label {
  color: #dc3545;
}

.form-control.ng-invalid.ng-dirty ~ .invalid-feedback,
.form-control.ng-invalid.ng-touched ~ .invalid-feedback {
  display: block;
}

@font-face {
  font-family: Custom;
  src: url(assets/fonts/NotoSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Custom;
  src: url(assets/fonts/NotoSans-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Custom;
  src: url(assets/fonts/NotoSans-Italic.ttf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: Custom;
  src: url(assets/fonts/NotoSans-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Custom, Arial, sans-serif;
  // background-color: #f8f8f8 !important;
  background-color: #fafbfe;
  font-size: 18px;
}
button {
  font-family: Custom, Arial, sans-serif !important;
}
// input {
.mat-input-element {
  font-family: Custom, Arial, sans-serif !important;
}
.mat-form-field-label {
  font-family: Custom, Arial, sans-serif !important;
}
.mat-select {
  font-family: Custom, Arial, sans-serif !important;
}
// .mat-form-field-underline {
//   background-color: #123985 !important;
// }

.material-icons {
  font-family: "Material Icons" !important;
}
// html,
// body {
//   height: 100%;
// }

.title-card {
  background-color: #b1b3b3;
  color: white;
  padding: 10px 10px;
  margin-bottom: 0px;
}

// .form-data {
//   padding: 10px 10px;
// }

.color-primary {
  color: #9d2235;
}

.btn-cancel {
  color: #b1b3b3;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.btn-clear {
  color: #123985;
  border: 1px solid #123985;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.btn-edit {
  color: #123985;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.btn-save {
  background-color: #123985 !important;
  color: #ffffff;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.btn-edit:disabled {
  color: white !important;
  background-color: #d1d1d1 !important;
}

.btn-save:disabled {
  color: white !important;
  background-color: #d1d1d1 !important;
}

button:focus {
  outline: 0px;
}

.icon-img {
  margin-right: 16px;
  vertical-align: middle;
  height: 24px;
  width: 24px;
}

.btn-default-size {
  min-width: 100px !important;
  height: 40px;
}

ul.tabs {
  width: 100%;
  border-bottom: 1px solid #dee2e6;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 40px;
  list-style: none;
  margin-bottom: 1rem;
}

.tabs .nav-item {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-bottom: -1px;
}

.text-link {
  color: #357ab7 !important;
}

.tabs .nav-item .active {
  color: #000;
  background-color: #f8f8f8;
  border-color: #dee2e6 #dee2e6 #f8f8f8;
}

.tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #9d2235;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link-disabled {
  pointer-events: none;
  cursor: default;
  color: #b1b3b3 !important;
}

ul.sub-tabs {
  width: 100%;
  // border-bottom: 1px solid #dee2e6;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 1rem;
}
.sub-tabs .sub-nav-item {
  margin-right: 20px;
  min-width: 100px;
  display: list-item;
  text-align: -webkit-center;
  margin-bottom: -1px;
  border-color: #9d2235;
}

.sub-tabs .sub-nav-item .active,
.sub-tabs .sub-nav-item:hover .active {
  color: #ffffff;
  background-color: #9d2235;
  border-color: #9d2235;
}

.sub-tabs .sub-nav-link {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #9d2235;
  border-color: #9d2235;
}

.sub-nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.sub-nav-link:hover {
  text-decoration: none;
}

.sub-nav-link-disabled {
  pointer-events: none;
  cursor: default;
  color: #b1b3b3 !important;
}

.accordion-custom {
  color: white !important;
  background-color: #b1b3b3 !important;
  padding: 10px 20px;

  .mat-card-title {
    margin-top: 8px;
  }

  &:hover {
    background-color: #b1b3b3 !important;
  }

  .mat-expansion-indicator {
    &:after {
      color: white !important;
    }
  }
}

.bg-none {
  background: none !important;
}

.w-95 {
  width: 95%;
}

.w-50 {
  width: 50%;
}

.icon-delete-accordion {
  align-self: center;
  margin-left: 1em;
  color: #b1b3b3;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

// .mat-form-field{
//   line-height: 1.7 !important;
// }

.text-disabled {
  color: #d1d1d1;
}

.text-grey {
  color: #959595;
}

.bg-color-yellow {
  background-color: #ffffcc;
  width: 50%;
  line-height: 2.5;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

// input[type=number] {
//     -moz-appearance:textfield; /* Firefox */
// }

html,
body {
  height: 100%;
}

.full-screen-dialog .mat-dialog-container {
  // height: 100vh;
  overflow-x: hidden !important;
  width: 100vw !important;
  max-width: none !important;
}

.timepicker {
  .timepicker__header {
    background-color: #9d2235 !important;
  }

  .clock-face__clock-hand {
    background-color: #9d2235 !important;

    &::after {
      background-color: #9d2235 !important;
    }

    &::before {
      border-color: #9d2235 !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: #9d2235 !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: #9d2235 !important;
  }
}

.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #9d2235 !important;
}

.mat-checkbox-checked.mat-accent.mat-checkbox-disabled .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #d1d1d1 !important;
}

.mat-radio-button {
  &.mat-radio-checked .mat-radio-outer-circle {
    border-color: #9d2235 !important;
  }

  .mat-radio-inner-circle {
    background-color: #9d2235 !important;
  }

  &.mat-radio-disabled {
    &.mat-radio-checked .mat-radio-outer-circle,
    .mat-radio-outer-circle {
      border-color: #d1d1d1 !important;
    }

    .mat-radio-ripple .mat-ripple-element,
    .mat-radio-inner-circle {
      background-color: #d1d1d1 !important;
    }
  }
}
//  .mat-radio-button.mat-radio-checked .mat-radio-outer-circle{
//   border-color:#9d2235;
// }

// .mat-radio-button .mat-radio-inner-circle{
//   color:#9d2235 ;
//   background-color:#9d2235 ;
// }

// ::ng-deep .mat-radio-button.mat-accent.mat-radio-disabled .mat-radio-container.mat-radio-outer-circle
// , ::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-outer-circle{
//   border-color:#d1d1d1 !important;
// }

// .mat-radio-button[disabled].mat-accent.mat-radio-checked.mat-radio-disabled .mat-radio-inner-circle,
// ::ng-deep .mat-radio-button.mat-radio-disabled .mat-radio-inner-circle{
//   color:#d1d1d1 !important;
//   background-color:#d1d1d1 !important;
// }

// ################################################################################################

.global_module_title {
  font-weight: bold;
}
.global_module_title > * {
  vertical-align: middle;
}
.global_module_title > a {
  color: #000000;
}
.global_module_title > .mat-icon {
  // color: #123985;
  color: #e11b22;
}

.global_list {
  box-shadow: 3px 3px 8px 1px #bbbbbb;

  .card-header {
    background-color: white;
    text-align: right;
  }

  .card-header > * {
    margin-left: 10px;
  }

  .card-header > .input_field .mat-form-field-infix {
    width: auto;
    background-color: #f7941d;
    padding: 0px;
    border-top: 0px;
    border-color: #f7941d;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
  }

  .card-header > .input_field .mat-form-field-wrapper {
    padding: 0px;
  }

  .card-header > .input_field input {
    height: 24px;
    padding-top: 0px;
    font-size: 12px;
    border-color: #f7941d;
    border-style: solid;
    border-width: 0px;
    border-left-width: 1px;
    // border-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .card-header > .input_field .btn {
    // background-color: #f7941d;
    padding: 0px;
    width: 24px;
    height: 24px;
  }
  .card-header > .input_field .btn > .mat-icon {
    color: white;
  }

  .card-header > .btn {
    background-color: #f7941d;
    padding: 0px;
    width: 26px;
    height: 26px;
  }
  .card-header > .btn > .mat-icon {
    color: white;
  }

  .card-body {
    padding: 0px;
  }
  .card-body > table {
    margin-bottom: 0px !important;

    td,
    th {
      border-top-style: none;
    }
  }
  .card-body > table > thead > tr > th {
    // border-bottom-color: #123985;
    border-bottom-width: 1px;
    border-bottom-color: #e11b22;
  }

  .card-body > table > tfoot > tr > td {
    text-align: right;
    padding-right: 40px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e11b22;
  }
  .card-body > table > tfoot > tr > td > * {
    vertical-align: middle;
    margin-left: 15px;
  }
  .card-body > table > tfoot > tr > td > .global_list_paging_info {
    margin-right: 5px;
  }
  .card-body > table > tbody {
    .mat-icon {
      margin-left: 3px;
      margin-right: 3px;
      font-size: 20px;
    }

    .edit_btn {
      color: #123985;
    }
    .print_btn {
      color: #fcb614;
    }
    .delete_btn {
      color: #e87244;
    }
  }

  .gototop_btn {
    bottom: -13px;
    right: -10px;
  }

  .system-page-size {
    mat-form-field {
      width: 100px !important;
    }
    .mat-form-field-flex {
      background-color: unset;
      // line-height: 30px !important;
    }
    .mat-select-arrow {
    }
  }
  .system-page-control,
  .system-page-control:hover {
    cursor: pointer;
    color: #000000;

    .material-icons {
      line-height: unset;
    }

    &.actived {
      color: #e11b22;
    }
  }

  .data-not-found {
    text-align: center;
    color: #999999;
    height: 100px;
    line-height: 100px;
  }
}

// ################################################################################################

.mat-form-field-infix {
  border-top: none;
  border-bottom: none;
}

.global_form {
  box-shadow: 3px 3px 8px 1px #bbbbbb;

  .card-header {
    background-color: white;
    font-weight: bold;
    // color: #123985;
    border-bottom-color: #123985;
  }
  .card-header > * {
    vertical-align: middle;
  }

  .card-body {
    table > tbody > tr > th.field_title {
      // vertical-align: middle !important;
      padding-top: 15px;
    }
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    // color: #f7941d;
  }
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #f7941d;
  }
}

// ################################################################################################

.mat-focused {
  .mat-form-field-ripple {
    background-color: #123985 !important;
  }
}

.expand_icon {
  color: #123985;
  margin-right: 0px !important;
}

.mat-radio-button {
  margin-right: 10px;

  .mat-radio-outer-circle {
    border-color: #123985 !important;
  }
  .mat-radio-inner-circle {
    color: #123985 !important;
    background-color: #123985 !important;
  }

  .mat-radio-label-content {
    font-family: Custom, Arial, sans-serif !important;
    padding-top: 3px;
  }
}
.mat-radio-button.mat-radio-checked .mat-radio-outer-circle {
  border-color: #123985 !important;
}
.mat-checkbox {
  margin-right: 10px;

  .mat-checkbox-frame {
    border-color: #123985 !important;
  }

  .mat-checkbox-label {
    font-family: Custom, Arial, sans-serif;
    padding-top: 3px;
  }
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #123985 !important;
}

// ################################################################################################

.system-btn-primary {
  background-color: #123985;
  color: #ffffff;
}
.system-btn-primary:disabled {
  background-color: #737373;
}

.system-btn-primary-gray {
  background-color: #737373;
  color: #ffffff;
}

.system-btn-secondary {
  color: #123985;
  border-color: #123985 !important;
  // border-width: 1px !important;
  // border-style: solid;
}
.system-btn-secondary:disabled {
  background-color: #737373;
  color: #ffffff;
}
.system-btn-fixsize {
  width: 100px;
}

.system-input-note {
  font-size: 12px;
  color: #919191;
  margin-top: -15px;
  text-align: left;
}

.system-underline {
  text-decoration: underline;
}
.system-download-file {
  text-decoration: underline;
  cursor: pointer;
}

.material-icons {
  &.height-reset {
    line-height: unset;
  }
}

.mat-select-arrow-wrapper {
  transform: none !important;
}
