<p class="global_module_title">Certificate</p>

<div class="card global_list mb-4">
  <div class="card-body p-4">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-3">
            <strong>Host:</strong>
          </div>
          <div class="col-6">
            {{host}}
          </div>
          <div class="col-3">
            <mat-icon class="btn-edit cursor-pointer" (click)="onEditHost()">create</mat-icon>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-3">
            <strong>Port:</strong>
          </div>
          <div class="col-2">
            {{port}}
          </div>
          <div class="col-3">
            <mat-icon class="btn-edit cursor-pointer" (click)="onEditPort()">create</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="card global_list">
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <!-- <th scope="col"><input type="checkbox" class="form-check"></th> -->
          <th scope="col">Certificate</th>
          <th scope="col">Alias</th>
          <th scope="col">Activate Date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of data">
          <tr (click)="onView(data.id)">
            <!-- <th scope="row"><input type="checkbox" class="form-check"></th> -->
            <td>{{ data.name }}</td>
            <td>{{ data.alias }}</td>
            <td>{{ data.date }}</td>
            <td>
              <mat-icon class="edit_btn cursor-pointer" (click)="onEdit(data)">create</mat-icon>
            </td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <span class="global_list_paging_info">1-50 of 100</span>
            <mat-icon>first_page</mat-icon>
            <mat-icon>navigate_before</mat-icon>
            <mat-icon>navigate_next</mat-icon>
            <mat-icon>last_page</mat-icon>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- <button class="btn gototop_btn" (click)="moveToTop()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button> -->
</div>