.word-break {
  word-break: break-word;
}
.ellipsis-100 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}
.ellipsis-150 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}
.ellipsis-200 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.ellipsis-300 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
}
.text-bold {
  font-weight: bold;
}
.text-grey {
  color: #a0a0a0;
}

.new-line-label {
  white-space: pre-wrap;
}
