<div>
  <div *ngIf="value != ''&& value != null && value != '0'; else nullValue" [class]="styleValue">
    {{value}}
  </div>

  <ng-template #nullValue>
    <div [class]="styleValue">-</div>
  </ng-template>
</div>