<p class="global_module_title">
  <a [routerLink]="['/lead-demo']">Lead</a>
  <mat-icon>navigate_next</mat-icon>
  Detail Lead ID LD00001
</p>

<div class="card global_form" *ngIf="data">
    <div class="card-header">
      Lead
      <!-- <button class="btn btn-sm btn-primary float-right" (click)="onSubmit()">Save</button> -->
    </div>
    <div class="card-body">
      <form (submit)="onSubmit()" [formGroup]="form">
        <table>
          <tbody>
            <!--
            <tr>
              <th>Lead ID</th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="leadCode">
                  <div [appValidate]="form.get('leadCode')"></div>
                </div>
              </td>
            </tr>
            <tr>
              <th>Contact ID</th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="contactCode">
                  <div [appValidate]="form.get('contactCode')"></div>
                </div>
              </td>
            </tr>
            <tr>
              <th>Contact Name</th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="contactName">
                  <div [appValidate]="form.get('contactName')"></div>
                </div>
              </td>
            </tr>
            <tr>
              <th>Lead Status</th>
              <td>
                <div class="form-group">
                  <div class="form-check form-check-inline">
                    <input id="wait" type="radio" class="form-check-input" value="wait" formControlName="leadStatusCode">
                    <label for="wait" class="form-check-label">Wait</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input id="warm" type="radio" class="form-check-input" value="warm" formControlName="leadStatusCode">
                    <label for="warm" class="form-check-label">Warm</label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>Company</th>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="leadCompany">
                  <div [appValidate]="form.get('leadCompany')"></div>
                </div>
              </td>
            </tr>
            <tr>
              <th>Data1</th>
              <td>
                <app-multi-select fieldName="Data 1" optionAllTitle="" [defaultValue]="form.get('data1').value" errorMessage="This field is required." (onValueUpdate)="form.get('data1').setValue($event)"></app-multi-select>
              </td>
            </tr>
            -->

            <tr>
              <th>Label</th>
              <td>
                <app-label value="ทดสอบ ทดสอบ"></app-label>
              </td>
            </tr>

            <tr>
              <th class="field_title">Text Field</th>
              <td>
                <app-input-field placeholder="Placeholder" value=""></app-input-field>
              </td>
            </tr>
            <tr>
              <th class="field_title">Text Field</th>
              <td>
                <app-input-field placeholder="Placeholder" value="ทดสอบ"></app-input-field>
              </td>
            </tr>

            <tr>
              <th class="field_title">TextArea</th>
              <td>
                <mat-form-field formControlName="input_textarea" class="w-100">
                  <textarea matInput placeholder="Placeholder" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"></textarea>
                  <mat-error>This field is required.</mat-error>
                </mat-form-field>
              </td>
            </tr>

            <tr>
              <th class="field_title">Radio</th>
              <td>
                <mat-radio-group formControlName="input_radio" aria-label="">
                  <mat-radio-button value="1">Value 1</mat-radio-button>
                  <mat-radio-button value="2">Value 2</mat-radio-button>
                </mat-radio-group>
              </td>
            </tr>

            <tr>
              <th class="field_title">Checkbox</th>
              <td>
                <mat-checkbox value="1">Value 1</mat-checkbox>
                <mat-checkbox value="2">Value 2</mat-checkbox>
              </td>
            </tr>

            <tr>
              <th class="field_title">Dropdown</th>
              <td>
                <app-dropdown default="Placeholder" url="/v1/master-utility/users"></app-dropdown>
              </td>
            </tr>

            <tr>
              <th class="field_title">Dropdown New</th>
              <td>
                <app-dropdown-new placeholder="Placeholder" url="/v1/master-utility/users"></app-dropdown-new>
              </td>
            </tr>

            <tr>
              <th class="field_title">Dropdown AutoComplete</th>
              <td>
                <app-autocomplete placeholder="Placeholder" url="/v1/master-utility/users"></app-autocomplete>
              </td>
            </tr>
            <tr>
              <th class="field_title">Common AutoComplete</th>
              <td>
                <app-common-autocomplete placeholder="Placeholder" url="/v1/master-utility/users"></app-common-autocomplete>
              </td>
            </tr>

            <tr>
              <th class="field_title">Dropdown MultiSelect AutoComplete</th>
              <td>
                <app-multi-select-autocomplete url="/v1/master-utility/users"></app-multi-select-autocomplete>
              </td>
            </tr>

          </tbody>

        </table>
      </form>
    </div>
  </div>
