.min-col-50 {
    min-width: 50px;
}

.max-120-col {
    width: 120px;
    min-width: 120px;
}

.mat-divider {
    border-top-color: #ffee00;
    position: relative;
}

:host td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
    border-bottom-width: 0px;
}

:host table th,
table td {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host table th {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

// :host ::ng-deep .mat-paginator-navigation-next[disabled],
// :host ::ng-deep .mat-paginator-navigation-first[disabled],
// :host ::ng-deep .mat-paginator-navigation-previous[disabled],
// :host ::ng-deep .mat-paginator-navigation-last[disabled] {
// }

:host ::ng-deep .mat-paginator-navigation-next,
:host ::ng-deep .mat-paginator-navigation-first,
:host ::ng-deep .mat-paginator-navigation-previous,
:host ::ng-deep .mat-paginator-navigation-last {
    color: #e11b22;
}


:host table td {
    font-size: 18px;
    color: #000000;
}

.color-active {
    color: #009427;
}

.color-inactive {
    color: #737373;
}

.color-not-found {
    color: #f0f0f0;
}

.color-dv {
    border-top-color: #e11b22;
}
