<div class="d-flex justify-content-between align-items-center mb-4">
  <div class="align-items-center">
    <span class="global_module_title">User Management</span>
  </div>
  <div>
    <button (click)="router.navigate(['admin', 'user', 'create'])" class="btn btn-save ml-2 d-flex align-items-center">
      <mat-icon class="mr-2">add_box</mat-icon>
      Create
    </button>
  </div>
</div>

<app-loading [showLoading]="loading"></app-loading>
<div class="card global_list mb-4">
  <div class="card-body p-4">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <app-autocomplete url="/v1/user-management/suggestion-user-code" (onValueUpdate)="onSelectUserId($event)"
              additionalParams="keyword" [defaultValue]="searchForm.userId" placeholder="UserID"></app-autocomplete>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <app-autocomplete url="/v1/user-management/suggestion-user-name" (onValueUpdate)="onSelectUsername($event)"
              [defaultValue]="searchForm.usernameId" additionalParams="keyword" placeholder="Name"></app-autocomplete>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <app-autocomplete url="/v1/user-management/suggestion-administrator-code"
              (onValueUpdate)="onSelectAdminId($event)" additionalParams="keyword" placeholder="AdministratorID">
            </app-autocomplete>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <app-dropdown [value]="searchForm.roleId" [(inputModel)]="searchForm.roleId"
              url="/v1/user-management/lookup-role" default="Role"></app-dropdown>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <app-dropdown [value]="searchForm.status" [form]="lookUpStatus" [(inputModel)]="searchForm.status"
              default="Status">
            </app-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex">
        <div class="ml-auto">
          <button (click)="onClear()" class="btn btn-clear">Clear</button>
          <button (click)="onSearch()" class="btn btn-save ml-2">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="card global_list">
  <div class="card-body">
    <table aria-describedby="invoiceListTable" table mat-table matSort [dataSource]="dataSource"
      class="table-hover w-100">
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef id="userId"> UserID </th>
        <td mat-cell *matCellDef="let element; let i = index" class="min-col-50">
          <span (click)="onRedirect(element.userId)">
            <app-label [value]="element.userId"></app-label>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef id="userId"> Name </th>
        <td mat-cell *matCellDef="let element; let i = index" class="min-col-50">
          <span (click)="onRedirect(element.userId)">
            <app-label [value]="element.username"></app-label>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="administratorId">
        <th mat-header-cell *matHeaderCellDef id="administratorId"> AdministratorID </th>
        <td mat-cell *matCellDef="let element; let i = index" class="min-col-50">
          <span (click)="onRedirect(element.userId)">
            <app-label [value]="element.administratorId"></app-label>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="roleName">
        <th mat-header-cell *matHeaderCellDef id="roleName"> Role </th>
        <td mat-cell *matCellDef="let element; let i = index" class="min-col-50">
          <span (click)="onRedirect(element.userId)">
            <app-label [value]="element.roleName"></app-label>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef id="status"> Status </th>
        <td mat-cell *matCellDef="let element; let i = index" class="min-col-50">
          <span (click)="onRedirect(element.userId)"
            class="{{element.status === 'Active' ? 'color-active' : 'color-inactive' }}">
            <app-label [value]="element.status"></app-label>
          </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef id="status"> </th>
        <td mat-cell *matCellDef="let element; let i = index" class="min-col-50">
          <span (click)="onRedirect(element.userId)">
            <mat-icon class="edit_btn cursor-pointer" (click)="onRedirectEdit(element.userId)">create</mat-icon>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor-pointer">
      </tr>
    </table>
    <ng-container *ngIf="!dataSource.length">
      <div class="text-center color-not-found pt-2 pb-2">
        <span>
          No Data, Please search data
        </span>
      </div>
    </ng-container>
    <mat-divider class="color-dv"></mat-divider>
    <mat-paginator [hidePageSize]="false" [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions"
      [length]="length" [pageSize]="pageSize" [hidePageSize]="true" (page)="onPaginate($event)" #paginator>
    </mat-paginator>
  </div>
</div>